<div [formGroup]="filterForm" class="space-y-2">
  <h4>{{ rangeDateLabel }}</h4>
  <div [formGroupName]="customGroupName" class="space-y-4">
    <!-- From -->

    <div class="flex justify-between space-x-10 xxsm:flex-nowrap flex-wrap">
      <label for="fromDate" class="w-[100px] lg:w-[55px]">From</label>
      <div class="w-full">
        <div class="relative">
          <input
            class="px-4 py-2 border-container focus:outline-none focus:ring-2 focus:ring-blue-500 w-full box-border"
            type="text"
            id="search"
            id="fromDate"
            [matDatepicker]="pickerFrom"
            [formControlName]="'from'"
          />

          <div
            class="absolute inset-y-0 right-0 flex items-center pl-3 pointer-events-none"
          >
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerFrom"
              id="calendar"
              class="icon-color"
            >
            </mat-datepicker-toggle>
          </div>
        </div>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </div>
    </div>
    <!-- To -->
    <div class="flex justify-between space-x-10 xxsm:flex-nowrap flex-wrap">
      <label for="toDate" class="w-[100px] lg:w-[55px]">To</label>
      <div class="w-full">
        <div class="relative">
          <input
            class="px-4 py-2 border-container focus:outline-none focus:ring-2 focus:ring-blue-500 w-full box-border"
            type="text"
            id="search"
            id="toDate"
            [matDatepicker]="pickerTo"
            [formControlName]="'to'"
          />

          <div
            class="absolute inset-y-0 right-0 flex items-center pl-3 pointer-events-none"
          >
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerTo"
              id="calendar"
              class="icon-color"
            >
            </mat-datepicker-toggle>
          </div>
        </div>
        <mat-datepicker #pickerTo></mat-datepicker>
      </div>
    </div>
  </div>
  @if(dateRangeGroup.controls.from.hasError('invalidFromDate')){
  <label class="error">From date cannot be after to date</label>
  }
</div>
