@if(filterForm){

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="">
  <app-genre-filter class="mt-16" [filterForm]="filterForm"></app-genre-filter>
  <div class="mt-16">
    <app-order-by-filter [filterForm]="filterForm"></app-order-by-filter>
  </div>

  <div class="mt-16">
    <h2>Air Date</h2>
    <app-checkbox-filter
      [filterForm]="filterForm"
      [mediaType]="mediaType"
      [formControlName]="'allEpisode'"
      [label]="'Cerchi tutti gli episodi?'"
    ></app-checkbox-filter>

    <div class="mt-4">
      <app-range-date-filter
        [rangeDateGroupName]="'airDate'"
        [rangeDateLabel]="
          getAllEpisodeControlValue()
            ? 'Tutti gli episodi'
            : 'Prima messa in onda'
        "
        [filterForm]="filterForm"
      >
      </app-range-date-filter>
    </div>
  </div>

  <div class="mt-16">
    <app-checkbox-filter
      [filterForm]="filterForm"
      [mediaType]="mediaType"
      [formControlName]="'includeLifecycle'"
      [label]="'Include tvs in lifecycle'"
    ></app-checkbox-filter>
  </div>

  <div class="mt-16">
    <app-language-filter
      [filterForm]="filterForm"
      [languagesOptions]="languageList"
    >
    </app-language-filter>
  </div>

  <div class="mt-16">
    <app-vote-average-filter [filterForm]="filterForm">
    </app-vote-average-filter>
  </div>

  <button type="submit" class="mt-5" [disabled]="!filterForm.valid">
    Submit
  </button>
</form>
}
