<section class="w-full max-w-[1536px] mx-auto flex mb-20 pt-[60px]">
  <div class="w-full sm:flex sm:flex-row sm:space-y-0 space-y-4 py-4">
    <div
      class="w-full sm:w-[50%] bg-[var(--bkg-container-color)] sm:bg-transparent"
    >
      <div class="p-4">
        <div
          class="w-full flex justify-between hover:cursor-pointer"
          (click)="toggleCast()"
        >
          <h2>Movie Cast</h2>
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label=""
              [fontIcon]="isHideCastContainer ? 'expand_more' : 'chevron_right'"
            ></mat-icon>
          </div>
        </div>
      </div>

      <div
        class="w-full px-4"
        [ngClass]="{
          'hidden-container': isHideCastContainer
        }"
      >
        <ul class="p-0 m-0 space-y-4">
          @for(cast of (movieCredits$ | async)?.cast; track cast){ @defer(on
          viewport){
          <li class="list-none w-full">
            <app-cast-crew-credit-card
              [id]="cast.id"
              [name]="cast.name"
              [role]="cast.character"
              [profile_path]="cast.profile_path"
            ></app-cast-crew-credit-card>
          </li>
          } @placeholder {
          <div></div>
          } }
        </ul>
      </div>
    </div>

    <div
      class="w-full sm:w-[50%] bg-[var(--bkg-container-color)] sm:bg-transparent"
    >
      <div class="p-4">
        <div
          class="w-full flex justify-between hover:cursor-pointer"
          (click)="toggleCrew()"
        >
          <h2>Movie Crew</h2>
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label=""
              [fontIcon]="isHideCastContainer ? 'expand_more' : 'chevron_right'"
            ></mat-icon>
          </div>
        </div>
      </div>

      <div
        class="w-full px-4"
        [ngClass]="{
          'hidden-container': isHideCrewContainer
        }"
      >
        <ul class="p-0 m-0 space-y-4">
          @for(crew of (movieCredits$ | async)?.crew; track crew){ @defer(on
          viewport){
          <li class="list-none w-full">
            <app-cast-crew-credit-card
              [id]="crew.id"
              [name]="crew.name"
              [role]="crew.job"
              [profile_path]="crew.profile_path"
            ></app-cast-crew-credit-card>
          </li>
          } @placeholder {
          <div></div>
          } }
        </ul>
      </div>
    </div>
  </div>
</section>
