<div class="space-y-8">
  @if(personDetailMovieCredits$ | async; as personDetailMovieCredits){

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Cast</h2>

    <app-media-list-container
      [searchType]="'person-movie-cast'"
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="personDetailMovieCredits.cast"
      [mediaType]="'movie'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'cast'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>
  </div>

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Crew</h2>

    <app-media-list-container
      [searchType]="'person-movie-crew'"
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="removeDuplicateCrewMovie(personDetailMovieCredits.crew)"
      [mediaType]="'movie'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'crew'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>
  </div>

  } @else {
  <app-missing-field-placeholder
    [caption]="'No movies found for this person'"
  ></app-missing-field-placeholder
  >}
</div>
