<div class="space-y-8">
  @if(personDetailTVCredits$ | async; as personDetailTVCredits){

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Cast</h2>

    <app-media-list-container
      [searchType]="'person-tv-cast'"
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="personDetailTVCredits.cast"
      [mediaType]="'tv'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'cast'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>
  </div>

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Crew</h2>

    <app-media-list-container
      [searchType]="'person-tv-crew'"
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="removeDuplicateCrewTV(personDetailTVCredits.crew)"
      [mediaType]="'tv'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'cast'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>
  </div>

  } @else {
  <app-missing-field-placeholder
    [caption]="'No tvs found for this person'"
  ></app-missing-field-placeholder
  >}
</div>
