<div class="space-y-8">
  @if(personDetailTVCredits$ | async; as personDetailTVCredits){

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Cast</h2>
    @if(personDetailTVCredits.cast.length > 0){
    <app-media-list-container
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="personDetailTVCredits.cast"
      [mediaType]="'tv'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'cast'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>

    }@else {
    <app-missing-field-placeholder
      [caption]="'No tvs as cast found for this person'"
    ></app-missing-field-placeholder
    >}
  </div>

  <div>
    <h2 class="mb-4 pl-4">{{ title }} Crew</h2>
    @if(personDetailTVCredits.crew.length > 0){
    <app-media-list-container
      [scrollSelf]="true"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="removeDuplicateCrewTV(personDetailTVCredits.crew)"
      [mediaType]="'tv'"
      [includeScrollEvents]="false"
      [direction]="'horizontal'"
      [personIdentifier]="'cast'"
      [allowButtonAdditionalMedia]="false"
    ></app-media-list-container>

    }@else {
    <app-missing-field-placeholder
      [caption]="'No tvs as crew found for this person'"
    ></app-missing-field-placeholder
    >}
  </div>

  } @else {
  <app-missing-field-placeholder
    [caption]="'No tvs found for this person'"
  ></app-missing-field-placeholder
  >}
</div>
