@if(filterForm){

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="box-border border-container mb-4">
    <div
      class="p-3 flex justify-between hover:cursor-pointer"
      (click)="toggleMenuSort()"
      [ngClass]="{
        'border-separator': !isHideSortContainer
      }"
    >
      <h3>Sort</h3>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideSortContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>
    <div
      #sortContainer
      class="px-3 py-5"
      [ngClass]="{
        'hidden-container': isHideSortContainer
      }"
    >
      <app-select-filter
        [filterForm]="filterForm"
        [controlName]="'sortBy'"
        [title]="'Sort Results By'"
        [selectObject]="sortBySelect"
      ></app-select-filter>
    </div>
  </div>

  <div class="box-border border-container mb-4">
    <div
      class="p-3 flex justify-between hover:cursor-pointer"
      [ngClass]="{
        'border-separator': !isHideFilterContainer
      }"
      (click)="toggleMenuFilter()"
    >
      <h3>Filters</h3>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideFilterContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>

    <div
      [ngClass]="{
        'hidden-container': isHideFilterContainer,
      }"
    >
      <div class="px-3 py-5">
        <app-genre-filter [filterForm]="filterForm"></app-genre-filter>
      </div>
    </div>
    <!-- end -->
  </div>

  <div class="px-3 py-5">
    <button
      class="button-mt"
      (click)="scroll(mediaContainerRef)"
      type="submit"
      [disabled]="!filterForm.valid || isDisableButton"
    >
      <span class="text-lg">Search</span>
    </button>
  </div>
</form>

}
