<div class="h-full border-container flex box-border flex-col relative">
  <div class="w-full h-auto aspect-[2/3]">
    <app-img
      [alt]="tv.name"
      [title]="tv.name"
      [imgSrc]="tv.poster_path"
      [url1x]="TMDB_SEARCH_LIST_1X_IMG_URL"
      [url2x]="TMDB_SEARCH_LIST_2X_IMG_URL"
      [link]="detailMediaPath"
      [customClasses]="'border-img-card'"
    ></app-img>
  </div>

  <app-lifecycle-selector
    (lifecycleStatusElementEmitter)="setLifecycleStatusElement($event)"
    [mediaData]="tv"
    [index]="index"
    [mediaType]="mediaType"
  ></app-lifecycle-selector>

  <app-lifecycle-status-label
    [lifecycleEnumSelected]="lifecycleEnumSelected"
  ></app-lifecycle-status-label>

  <div class="card-content">
    <h3>
      <a [routerLink]="detailMediaPath" [title]="tv.name">{{ tv.name }}</a>
    </h3>
    <div class="mt-1">
      <p>
        {{ tv.first_air_date | date : "longDate" }}
      </p>
      @if(voteAverage){
      <app-rating [voteAverage]="voteAverage"></app-rating>
      }
    </div>
  </div>
</div>
