<section class="w-full max-w-[1920px] pt-[90px]">
  <div class="about-h flex items-center justify-center px-4">
    <div class="about_developer_details text-center max-w-3xl space-y-4">
      <div class="text-2xl font-semibold">
        Made with ❤️ by
        <a
          class="hover:text-[var(--theme-color-complementary)] underline"
          href="https://linktree-vinciprova.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
          >Vinciprova Riccardo</a
        >
      </div>

      <div>
        <a
          href="mailto:vinciprova.r@gmail.com"
          class="hover:underline text-[var(--text-gray)]"
          >{{ "vinciprova.r@gmail.com" }}</a
        >
      </div>

      <div class="text-[var(--text-gray)]">
        This is a skill showcase project designed to demonstrate advanced
        development and integration of APIs, combining technology and
        creativity.
      </div>

      <div
        class="flex flex-col items-center space-y-4 text-[var(--text-gray)] pt-4"
      >
        <div class="flex items-center space-x-3">
          <div class="text-center">
            Powered by
            <a
              href="https://www.themoviedb.org/"
              target="_blank"
              rel="noreferrer"
              class="text-blue-600 hover:underline"
              >TMDB API</a
            ><br />
            <span class="text-sm">
              Movie &amp; TV Bookmark uses the TMDB API but is not endorsed or
              certified by TMDB.
            </span>
          </div>
        </div>

        <div class="flex items-center space-x-3">
          <div class="text-center">
            Enhanced with
            <a
              href="https://openai.com/"
              target="_blank"
              rel="noreferrer"
              class="text-blue-600 hover:underline"
              >OpenAI API</a
            >
          </div>
        </div>
        <div class="w-full flex space-x-12">
          <div class="w-[50%] aspect-[2/1] items-center m-auto">
            <a [href]="'https://openai.com/'" target="_blank">
              <app-img
                [alt]="'OpenAi logo'"
                [title]="'OpenAi logo'"
                [imgSrc]="
                  'https://upload.wikimedia.org/wikipedia/commons/4/4d/OpenAI_Logo.svg'
                "
                [priority]="true"
                [customClasses]="'radius-container-int'"
                [isPlaceholderPerson]="false"
                [baseUrl]="''"
              ></app-img
            ></a>
          </div>
          <div class="w-[50%] aspect-[2/1] items-center m-auto">
            <a [href]="'https://www.themoviedb.org/'" target="_blank">
              <app-img
                [alt]="'TMDB logo'"
                [title]="'TMDB logo'"
                [imgSrc]="
                  'https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg'
                "
                [priority]="true"
                [customClasses]="'radius-container-int'"
                [isPlaceholderPerson]="false"
                [baseUrl]="''"
              ></app-img
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
