<!-- [ngClass]="lifecycleStatusElement.key + '-border'" -->
<mat-card appearance="outlined" class="w-auto h-full card-container">
  <img
    mat-card-image
    [alt]="title"
    [title]="title"
    [srcset]="card1or2xImgUrl"
    [routerLink]="detailMediaPath"
    loading="lazy"
  />
  <app-lifecycle-selector
    (lifecycleStatusElementEmitter)="setLifecycleStatusElement($event)"
    [mediaData]="mediaData"
    [index]="index"
    [mediaType]="mediaType"
  ></app-lifecycle-selector>
  <span
    class="font-bold flex justify-center bg-black"
    [ngClass]="lifecycleStatusElement.key + '-color'"
    >{{ lifecycleStatusElement.label }}</span
  >
  <mat-card-content class="card-content">
    <div>
      <p class="m-0 font-bold text-md md:text-lg">
        <a [routerLink]="detailMediaPath" [title]="title">{{ title }}</a>
      </p>
      <p class="m-0 text-sm md:text-md">
        {{ release_date | date : "longDate" }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
