a {
  text-decoration: none;
  color: black;
}

img {
  cursor: pointer;
}

h3 {
  overflow-wrap: break-word;
}
/* to-do refractor */
.card-content {
  padding: 10px;
}

.card-container {
  border-radius: 0.8rem;
}

.noLifecycle-color {
  color: rgb(221, 221, 221);
}

.watchlist-color {
  color: rgb(78, 173, 50);
}

.rewatch-color {
  color: rgb(46, 35, 199);
}

.watching-color {
  color: rgb(193, 30, 199);
}

.watched-color {
  color: rgb(199, 35, 35);
}

.noLifecycle-border {
  border-color: rgb(221, 221, 221);
}

.watchlist-border {
  border-color: rgb(78, 173, 50);
}

.rewatch-border {
  border-color: rgb(46, 35, 199);
}

.watching-border {
  border-color: rgb(193, 30, 199);
}

.watched-border {
  border-color: rgb(199, 35, 35);
}
