<div
  infinite-scroll
  (scrolled)="discoveryAdditionalPeople()"
  [infiniteScrollDisabled]="isLoading"
  [infiniteScrollDistance]="0.2"
  class="box-border"
>
  @if(personList && personList.length >0){

  <ul
    class="grid grid-cols-1 621:grid-cols-[repeat(auto-fill,_minmax(160px,_1fr))] gap-8 470:gap-10 p-0 m-0 py-8"
  >
    @for(person of personList; track person.id){
    <li class="list-none">
      <app-person-card [person]="person" [direction]="'vertical'">
      </app-person-card>
    </li>
    }
  </ul>
  @if(noAdditional){
  <app-missing-field-placeholder
    [caption]="'There are no more additional person for this query'"
  ></app-missing-field-placeholder>
  }@else {
  <div class="px-3 py-5">
    <button
      class="button-mt button-mt-role-normal"
      (keyup)="discoveryAdditionalPeople()"
      (click)="discoveryAdditionalPeople()"
    >
      <span class="text-lg">{{ searchAdditionalButtonLabel }}</span>
    </button>
  </div>

  } } @else { @if(!isLoading){
  <div class="flex justify-center">
    <app-no-search-found
      [title]="titleNotFound"
      [caption]="captionNotFound"
      [icon]="'person_off'"
    ></app-no-search-found>
  </div>
  } }
</div>
