@if(filterForm){

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="box-border border-container mb-4">
    <div
      class="px-3 py-5 border-separator flex justify-between hover:cursor-pointer"
      (click)="toggleMenuSort(sortContainer)"
    >
      <h2>Sort</h2>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideSortContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>
    <div
      #sortContainer
      class="px-3 py-5"
      [ngClass]="{
        'hidden-container': isHideSortContainer
      }"
    >
      <app-select-filter
        [filterForm]="filterForm"
        [controlName]="'sortBy'"
        [title]="'Sort Results By'"
        [selectObject]="sortBySelect"
      ></app-select-filter>
    </div>
  </div>

  <div class="box-border border-container mb-4">
    <div
      class="px-3 py-5 border-separator flex justify-between hover:cursor-pointer"
      (click)="toggleMenuFilter(filterContainer)"
    >
      <h2>Filters</h2>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideFilterContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>

    <div
      #filterContainer
      [ngClass]="{
        'hidden-container': isHideFilterContainer
      }"
    >
      <div class="px-3 py-5 border-separator">
        <app-genre-filter [filterForm]="filterForm"></app-genre-filter>
      </div>
    </div>
    <!-- end -->
  </div>

  <div class="px-3 py-5">
    <button
      type="submit"
      class="submit py-3 rounded-full cursor-pointer w-full disabled:"
      [disabled]="!filterForm.valid || isDisableButton"
    >
      <span class="text-white text-lg">Search</span>
    </button>
  </div>
</form>

}
