.lc-selector-container {
  position: absolute;
  z-index: 99;
}

select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* to-do refractor */
.card-content {
  padding: 10px;
}

.card-container {
  border-radius: 0.8rem;
}

.noLifecycle-color {
  color: rgb(221, 221, 221);
}

.watchlist-color {
  color: rgb(78, 173, 50);
}

.rewatch-color {
  color: rgb(46, 35, 199);
}

.watching-color {
  color: rgb(193, 30, 199);
}

.watched-color {
  color: rgb(199, 35, 35);
}
