<div class="space-y-10 p-4 lg:p-0" #contentContainer>
  <div class="space-y-1">
    <div class="flex flex-wrap items-center">
      <h1 class="mr-2">{{ mediaTitle }}</h1>
      @if(certification){
      <p class="text-xl border-2 border-solid px-1">{{ certification }}</p>
      }
    </div>
    <ul
      class="flex flex-wrap flex-col lg:flex-row lg:space-x-7 my-1 p-0 lg:items-center"
    >
      <li class="list-none">{{ releaseDate }}</li>
      <li class="list-none lg:list-disc">
        @for(genre of genres; track genre.id){ {{ genre.name }}@if($index !=
        genres.length-1){, } }
      </li>
      <li class="list-none lg:list-disc">{{ runtime | formatMinutes }}</li>
    </ul>

    <div class="mt-1">
      <app-rating [voteAverage]="voteAverage"></app-rating>
    </div>
  </div>

  <div class="relative h-full"></div>
  <div id="description" class="space-y-1">
    <h2>Overview</h2>
    <p class="font-medium text-gray-400 italic">{{ tagLine }}</p>
    <p>
      {{ overview }}
    </p>
  </div>
</div>
