<div [formGroup]="filterForm" class="w-96">
  <h2>Vote Average</h2>
  <mat-slider
    style="width: 100%"
    min="0"
    max="100"
    [formGroup]="voteAverageGroup"
  >
    <input
      id="min"
      [value]="voteAverageGroup.controls.voteAverageMin.value"
      [formControlName]="'voteAverageMin'"
      matSliderStartThumb
    />
    <input
      id="max"
      [value]="voteAverageGroup.controls.voteAverageMax.value"
      [formControlName]="'voteAverageMax'"
      matSliderEndThumb
    />
  </mat-slider>
  <div>
    Min: {{ voteAverageGroup.controls.voteAverageMin.value }} Max:
    {{ voteAverageGroup.controls.voteAverageMax.value }}
  </div>
</div>
