.tag-container {
  border-color: var(--tag-border-color);

  border-style: solid;
  border-width: 1px;
}

@media (hover: hover) and (pointer: fine) {
  .translate-tag:hover {
    transform: translateY(0.125rem);
  }
}

.tag-selected {
  background-color: var(--theme-color-2);
}
