.tag-container {
  border-color: var(--tag-border-color);

  border-style: solid;
  border-width: 1px;
}

/* .tag-container:hover {
  border-color: var(--bg-color-2);
} */

.tag-selected {
  background-color: var(--bg-color-2);
}
