header {
  transition: top 0.5s;
  color: var(--text-color);
  max-height: 70px;
}

header a {
  color: var(--text-color);
}

.header-up {
  top: -70px;
}

.text-home {
  color: var(--header-li-color);
}

.header-mobile-show {
  opacity: 1;
  visibility: visible;
}

.header-mobile-hidden {
  opacity: 0;
  visibility: hidden;
}
