<header class="fixed w-full shadow-lg top-0 z-30 max-h-[60px]">
  <div class="mx-4 lg:mx-24 py-2 flex justify-between items-center space-x-1">
    <div>
      <a (click)="closeNavMenuMobile()" [routerLink]="'/home'">
        <app-logo></app-logo>
      </a>
    </div>

    <div class="mx-auto 244:flex 244:justify-between items-center space-x-6">
      @if(((pageEventService.windowInnerWidth$ | async) ?? 0) >= 640) {
      <app-navigator-desktop
        [isUserAuthenticated]="(isUserAuthenticated$ | async) ?? false"
        [navElements]="navElements"
      ></app-navigator-desktop>
      }

      <div class="flex items-center justify-between space-x-6 mt-2 mb-2">
        @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 640) {
        <span class="sm:hidden">
          <mat-icon
            id="mobile-menu-btn"
            aria-hidden="false"
            [fontIcon]="'menu'"
            (keyup)="toggleNavMenuMobile()"
            (click)="toggleNavMenuMobile()"
            class="focus:outline-none hover:cursor-pointer"
          ></mat-icon> </span
        >}

        <span>
          <mat-icon
            (keyup)="toggleTheme()"
            (click)="toggleTheme()"
            aria-hidden="false"
            class="hover:cursor-pointer"
            [ngClass]="{
              'text-yellow-400': isDarkTheme
            }"
            [fontIcon]="icon"
          ></mat-icon>
        </span>
      </div>
    </div>
  </div>
  @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 640) {
  <app-navigator-mobile
    [isUserAuthenticated]="(isUserAuthenticated$ | async) ?? false"
    [navElements]="navElements"
    [hiddenNavMenu]="hiddenNavMenu"
    (closeNavMenuMobile)="closeNavMenuMobile()"
  ></app-navigator-mobile>
  }
</header>
