header {
  transition: top 0.5s;
  color: var(--text-color);
  max-height: 70px;
  transition: background-color 0.4s;
  background-image: linear-gradient(
    180deg,
    var(--header-bg-top) 10%,
    transparent
  );
}

.header-bg-trasparent {
  background-color: transparent;
}

.header-bg-visible {
  background-color: var(--header-bg);
}

header a {
  color: var(--text-color);
}

.header-up {
  top: -70px;
}

.bottom-decoration {
  background: var(--header-bottom-decoraration);
}

.text-home {
  color: var(--header-li-color);
}

.header-mobile-show {
  opacity: 1;
  visibility: visible;
}

.header-mobile-hidden {
  opacity: 0;
  visibility: hidden;
}
