<header class="fixed w-full shadow-lg top-0 z-30 h-[60px]">
  <div class="h-full flex justify-between items-center px-4 sm:px-10 lg:px-20">
    <div>
      <a (click)="closeNavMenuMobile()" [routerLink]="'/home'">
        <app-logo></app-logo>
      </a>
    </div>

    <div class="flex items-center">
      @if(pageEventService.$windowInnerWidth() >= 640) {
      <app-navigator-desktop
        [isUserAuthenticated]="(isUserAuthenticated$ | async) ?? false"
        [navElements]="navElements"
      ></app-navigator-desktop>
      } @else { }

      <div class="flex items-center justify-between">
        @if(pageEventService.$windowInnerWidth() < 640) {
        <span class="sm:hidden">
          <mat-icon
            id="mobile-menu-btn"
            aria-hidden="false"
            [fontIcon]="'menu'"
            (keyup)="toggleNavMenuMobile()"
            (click)="toggleNavMenuMobile()"
            class="focus:outline-none hover:cursor-pointer"
          ></mat-icon> </span
        >}
      </div>
      <div class="sm:ml-3">
        <app-toggle-theme-button></app-toggle-theme-button>
      </div>
    </div>
  </div>
  @if(pageEventService.$windowInnerWidth() < 640) {
  <div
    class="fixed w-full"
    [ngClass]="{
    'header-mobile-show': showNavMenuMobile,
    'header-mobile-hidden': !showNavMenuMobile,
  }"
  >
    <app-navigator-mobile
      [isUserAuthenticated]="(isUserAuthenticated$ | async) ?? false"
      [navElements]="navElements"
      [showNavMenuMobile]="showNavMenuMobile"
      (closeNavMenuMobile)="closeNavMenuMobile()"
    ></app-navigator-mobile>
  </div>

  }
</header>
