<div class="space-y-8">
  <div>
    <app-input-query
      [placeholder]="'Search for a person...'"
      [query]="(selectQuery$ | async) ?? ''"
      (queryEmitter)="searchPeople($event)"
    ></app-input-query>
  </div>

  <div>
    <app-person-list-container
      #peopleListContainer
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [personList]="(selectPeopleList$ | async) ?? []"
      (emitDiscoveryAdditionalMedia)="searchAdditionalPeople()"
      [noAdditional]="(selectNoAdditional$ | async) ?? false"
    ></app-person-list-container>
  </div>
</div>
