<section class="w-full mb-20">
  <div class="m-auto pt-[60px] overflow-hidden">
    @if(error$ | async; as error){
    <div class="w-full lg:w-[80%] lg:mx-auto py-8">
      <app-error-message-template
        [title]="errorTitle"
        [message]="errorMessage"
      ></app-error-message-template>
    </div>
    } @else {
    <!--  -->
    @if(selectPersonDetail$ | async; as personDetail){

    <div
      class="flex bg-cover bg-no-repeat bg-center items-center overflow-hidden lg:min-h-[55vh] mb-0 lg:mb-8"
      [ngStyle]="{
        'background-color': 'var(--theme-color-3)'
      }"
    >
      <div
        class="flex flex-row h-full w-full lg:w-[80%] max-w-[1920px] m-0 lg:m-auto p-4 lg:p-8 space-x-8"
      >
        <div
          class="h-[300px] lg:h-[80vh] aspect-[2/3] m-auto lg:m-0 w-xxxsm relative"
        >
          <app-img
            [alt]="personDetail.name"
            [title]="personDetail.name"
            [imgSrc]="personDetail.profile_path"
            [baseUrlLg]="W_780_IMG_URL"
            [baseUrlSm]="W_500_IMG_URL"
            [priority]="true"
            [customClasses]="'radius-container-int '"
            [isPlaceholderPerson]="true"
            [breakpointSm]="1024"
          ></app-img>
        </div>

        @if(((pageEventService.windowInnerWidth$ | async) ?? 0) >= 1024) {
        <div class="hidden lg:block max-w-[1100px]">
          <app-person-detail-main-info [personDetail]="personDetail">
          </app-person-detail-main-info>
        </div>
        }
      </div>
    </div>

    @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 1024){
    <div class="block lg:hidden h-full bg-[var(--bg-page-section)] mb-4">
      <app-person-detail-main-info [personDetail]="personDetail">
      </app-person-detail-main-info>
    </div>

    }

    <div class="w-full lg:w-[80%] max-w-[1920px] lg:mx-auto">
      <div class="w-full lg:hidden space-y-4 lg:space-y-8 mb-4 lg:mb-0">
        <div class="bg-[var(--bg-page-section)] lg:bg-transparent py-4">
          <h2 class="mb-4 pl-4">For more info go to</h2>
          <div class="pl-4">
            <app-external-info
              [tmdbId]="personDetail.id"
              [imdbId]="personDetail.imdb_id"
              [mediaType]="mediaType"
            ></app-external-info>
          </div>
        </div>
      </div>
      <div class="w-full space-y-4 lg:space-y-8 lg:mr-12">
        <div class="bg-[var(--bg-page-section)] lg:bg-transparent py-4">
          <app-person-movies
            [personId]="personId"
            [personDetailMovieCredits$]="personDetailMovieCredits$"
          ></app-person-movies>
        </div>
        <div class="bg-[var(--bg-page-section)] lg:bg-transparent py-4">
          <app-person-tvs
            [personId]="personId"
            [personDetailTVCredits$]="personDetailTVCredits$"
          ></app-person-tvs>
        </div>
      </div>
    </div>
    }}
  </div>
</section>
