<div class="flex flex-col items-center pt-[60px]">
  <div class="w-[95%] max-w-sm pt-8 space-y-4">
    @if(params && (params.error|| params.error_code )){

    <div class="bg-[var(--bg-failure-container)] text-sm p-3 rounded-md">
      <div class="flex space-x-2">
        <div>
          <mat-icon
            class="text-[var(--failure-icon-color)]"
            aria-hidden="false"
            fontIcon="lock"
          ></mat-icon>
        </div>
        <div class="text-[var(--text-color-dark)]">
          <h4>Confirmation Email error.</h4>
          <ul class="list-none p-0 m-0">
            <li>{{ params.error_description }}.</li>
            @if(!(isUserAuthenticated$ | async)){

            <li>For security reason you have been logged out.</li>
            <li>
              <a
                [routerLink]="'/resend-confirmation-email'"
                class="font-medium text-[var(--text-color-dark)]"
                >Resend confirmation email </a
              >, or log in to your account if already confirmed.
            </li>
            }
          </ul>
        </div>
      </div>
    </div>

    } @else { @if((isUserAuthenticated$ | async)){

    <div>
      <app-success-message-template
        [message]="confirmEmailMessage"
        [title]="confirmEmailTitle"
      ></app-success-message-template>
    </div>

    } @else {
    <p>Nothing to show at the moment. Sign in.</p>
    } }

    <div class="flex px-10">
      @if(!(isUserAuthenticated$ | async)){
      <div
        (keydown)="redirectTo('/login')"
        (click)="redirectTo('/login')"
      ></div>

      <button class="button-mt button-mt-role-normal" type="button">
        Sign In
      </button>
      } @else {
      <button
        class="button-mt button-mt-role-normal"
        type="button"
        (keydown)="redirectTo('/home')"
        (click)="redirectTo('/home')"
      >
        Home</button
      >}
    </div>
  </div>
</div>
