<div class="h-full flex flex-col">
  <div class="overflow-hidden h-[140px] lg:h-[160px] border-img-card-full">
    <app-img
      [alt]="castCrew.name"
      [title]="castCrew.name"
      [imgSrc]="castCrew.profile_path"
      [baseUrl]="TMDB_W_300_IMG_URL"
      [link]="detailMediaPath"
      [isPlaceholderPerson]="true"
      [customClasses]="'person-img-margin '"
      customContainerHeightClass="aspect-[2/3]"
    ></app-img>
  </div>
  <div class="card-content flex flex-col justify-center overflow-hidden">
    <h4 class="whitespace-nowrap text-ellipsis text-center overflow-hidden">
      <a [routerLink]="detailMediaPath" [title]="castCrew.name"
        ><span>{{ castCrew.name }}</span></a
      >
    </h4>
    <h5 class="whitespace-nowrap text-ellipsis text-center overflow-hidden">
      @if(isCastEntity(castCrew)){
      <span [title]="castCrew.character">{{ castCrew.character }} </span>

      } @else if(isCrewEntity(castCrew)){
      <span [title]="castCrew.job">{{ castCrew.job }}</span>
      }
    </h5>
  </div>
</div>
