<div class="h-full flex flex-col">
  <div class="overflow-hidden aspect-[1/1] border-img-card-full">
    <app-img
      [alt]="name"
      [title]="name"
      [imgSrc]="profile_path"
      [baseUrl]="TMDB_PROFILE_W_185_IMG_URL"
      [link]="detailMediaPath"
      [isPlaceholderPerson]="true"
      [customClasses]="'person-img-margin '"
      customContainerHeightClass="aspect-[2/3]"
    ></app-img>
  </div>
  <div class="pt-4 flex flex-col justify-center overflow-hidden">
    <h4 class="whitespace-nowrap text-ellipsis text-center overflow-hidden">
      <a [routerLink]="detailMediaPath" [title]="name"
        ><span>{{ name }}</span></a
      >
    </h4>
    <h5 class="whitespace-nowrap text-ellipsis text-center overflow-hidden">
      <span [title]="role">{{ role }} </span>
    </h5>
  </div>
</div>
