<div class="flex flex-col 1024:flex-row mt-6">
  <div class="1024:w-1/4">
    <app-tv-bookmark-filters
      [sortBySelect]="(selectSortBy$ | async) ?? []"
      [combinedBookmarkFilters$]="selectCombinedBookmarkFilters$"
      (payloadEmitterOnSubmit)="searchTVByBookmarkSubmit($event)"
    ></app-tv-bookmark-filters>
  </div>
  <div class="1024:w-3/4 ml-0 1024:ml-6 mt-6 1024:mt-0" #elSm>
    <app-media-list-container
      [searchType]="'bookmark'"
      [infiniteScrollDisabled]="false"
      [mediaList]="(selectTVList$ | async) ?? []"
      [mediaType]="mediaType"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [direction]="'vertical'"
      [allowButtonAdditionalMedia]="false"
      [elSm]="elSm"
      [elXl]="elXl"
      [selectScrollTo$]="selectScrollTo$"
    ></app-media-list-container>
  </div>
</div>
