<app-discovery-movie-filters
  [certificationList]="(selectCertificationList$ | async) ?? []"
  [languageList]="(selectLanguageList$ | async) ?? []"
  [sortBySelect]="(selectSortBy$ | async) ?? []"
  [combinedDiscoveryFilters$]="selectCombinedDiscoveryFilters$"
  [mediaType]="mediaType"
  (payloadEmitterOnSubmit)="discoveryMovie($event)"
></app-discovery-movie-filters>

<app-movie-list-container
  #movieListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [movieList]="(selectMovieList$ | async) ?? []"
  (nearEnd)="
    movieListContainer.movieList.length
      ? discoveryAdditionalMovie(movieListContainer.movieList.length)
      : null
  "
  [mediaType]="mediaType"
></app-movie-list-container>
