<app-discovery-movie-filters
  [certificationList]="(selectCertificationList$ | async) ?? []"
  [languageList]="(selectLanguageList$ | async) ?? []"
  [combinedDiscoveryFilters$]="selectCombinedDiscoveryFilters$"
  [mediaType]="mediaType"
  (payloadEmitterOnSubmit)="discoveryMovie($event)"
></app-discovery-movie-filters>

<app-media-list-container
  #mediaListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [mediaList]="(selectMovieList$ | async) ?? []"
  (nearEnd)="
    mediaListContainer.mediaList.length
      ? discoveryAdditionalMovie(mediaListContainer.mediaList.length)
      : null
  "
  [mediaType]="mediaType"
></app-media-list-container>
