<app-discovery-filters
  [signalAdditionalMovieObs$]="signalAdditionalMovieObs$"
  [genreList$]="selectGenreList$"
  [payload$]="payload$"
  [mediaType]="mediaType"
  (payloadEmitterOnSubmit)="discoveryMovie($event)"
  (payloadEmitterAdditionalMovie)="discoveryAdditionalMovieWithFilters($event)"
></app-discovery-filters>

<app-media-list-container
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [mediaList]="movie$ | async"
  (nearEnd)="discoveryAdditionalMovie()"
  [mediaType]="mediaType"
></app-media-list-container>
