<div
  class="top-2 right-2 border-none p-1 rounded-full absolute z-10"
  [ngClass]="{
    'vertical':
      direction === 'vertical' ,
    'horizontal': direction === 'horizontal' ,
    'detail': direction === 'none' && isDetail,
  }"
>
  <div
    class="text-[var(--text-color)] h-[24px]"
    [ngClass]="{
      'text-[var(--text-color)]': bookmarkEnumSelected === 'noBookmark',
      'text-[var(--bookmark-icon-selected)]': bookmarkEnumSelected !== 'noBookmark',
    }"
  >
    <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
  </div>

  <select [formControl]="bookmarkControl" [id]="idItem" class="cursor-pointer">
    @for (option of bookmarkOptions$|async; track option) {
    <option [value]="option.value">
      {{ option.label }}
    </option>
    }
  </select>
</div>
