<div
  class="right-1 border-none p-1 rounded-full absolute z-10"
  [ngClass]="{
    'bg-trasparent 510:bg-[var(--bg-bookmark-icon)] top-1 510:top-2':
      direction === 'vertical',
    'bg-[var(--bg-bookmark-icon)] top-2': direction === 'horizontal' || isDetail,
    'scale-125': isDetail,

  }"
>
  <div
    class="text-[var(--text-color)] h-[24px]"
    [ngClass]="{
      'text-[var(--text-color)]': bookmarkEnumSelected === 'noBookmark',
      'text-[var(--bookmark-icon-selected)]': bookmarkEnumSelected !== 'noBookmark',
    }"
  >
    <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
  </div>

  <select [formControl]="bookmarkControl" [id]="idItem" class="cursor-pointer">
    @for (option of bookmarkOptions$|async; track option) {
    <option [value]="option.value">
      {{ option.label }}
    </option>
    }
  </select>
</div>
