<section
  class="w-full w-max-[1920px] m-auto pt-[60px] max-w-screen-3xl mb-20 overflow-hidden"
>
  @if(error$ | async; as error){
  <div class="w-full lg:w-[80%] max-w-[1536px] lg:mx-auto py-8">
    <app-error-message-template
      [title]="errorTitle"
      [message]="errorMessage"
    ></app-error-message-template>
  </div>
  } @else {
  <!--  -->
  @if(selectPersonDetail$ | async; as personDetail){

  <div
    id="header-detail"
    class="flex bg-cover bg-no-repeat bg-center items-center overflow-hidden lg:min-h-[55vh] mb-0 lg:mb-8"
  >
    <div
      class="flex flex-row h-full w-full p-4 justify-center lg:p-8 space-x-8"
      [ngStyle]="{
        'background-color': 'var(--bg-header-person-detail)'
      }"
    >
      <div class="h-[35vh] lg:h-[55vh] aspect-[2/3] w-xxxsm relative">
        <app-img
          [alt]="personDetail.name"
          [title]="personDetail.name"
          [imgSrc]="personDetail.profile_path"
          [baseUrlLg]="TMDB_PROFILE_600W_900H_IMG_URL"
          [baseUrlSm]="TMDB_PROFILE_300W_450H_IMG_URL"
          [priority]="true"
          [customClasses]="'border-container-no-color'"
          [isPlaceholderPerson]="false"
        ></app-img>
      </div>

      @if(((pageEventService.windowInnerWidth$ | async) ?? 0) >= 1024) {
      <div class="hidden lg:block max-w-[1100px]">
        <app-person-detail-main-info [personDetail]="personDetail">
        </app-person-detail-main-info>
      </div>
      }
    </div>
  </div>

  @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 1024){
  <div class="block lg:hidden h-full bg-[var(--bg-container-color)] mb-4">
    <app-person-detail-main-info [personDetail]="personDetail">
    </app-person-detail-main-info>
  </div>

  }

  <div class="w-full lg:w-[70%] max-w-[1536px] lg:mx-auto">
    <div class="w-full lg:hidden space-y-4 lg:space-y-8 mb-4 lg:mb-0">
      <div class="bg-[var(--bg-container-color)] lg:bg-transparent py-4">
        <h2 class="mb-4 pl-4">For more info go to</h2>
        <div class="pl-4">
          <app-external-info
            [tmdbId]="personDetail.id"
            [imdbId]="personDetail.imdb_id"
            [mediaType]="mediaType"
          ></app-external-info>
        </div>
      </div>
    </div>
    <div class="w-full space-y-4 lg:space-y-8 lg:mr-12">
      <div class="bg-[var(--bg-container-color)] lg:bg-transparent py-4">
        <app-person-movies [personId]="personId"></app-person-movies>
      </div>
      <div class="bg-[var(--bg-container-color)] lg:bg-transparent py-4">
        <app-person-tvs [personId]="personId"></app-person-tvs>
      </div>
    </div>
  </div>
  }}
</section>
