<section class="w-[90%] max-w-5xl m-auto pt-[70px]">
  @if(selectPersonDetail$ | async; as selectPersonDetail){
  <div class="m-2">
    <div style="display: flex">
      <div>
        <app-img
          [alt]="selectPersonDetail.name"
          [title]="selectPersonDetail.name"
          [imgSrc]="selectPersonDetail.profile_path"
          [url1x]="TMDB_PROFILE_1X_IMG_URL"
          [url2x]="TMDB_PROFILE_2X_IMG_URL"
          [borderClass]="'border-container'"
        ></app-img>
      </div>
      <div>
        <h1>{{ selectPersonDetail.name }}</h1>
        <h3>
          {{ selectPersonDetail.birthday }} - {{ selectPersonDetail.deathday }}
        </h3>
        <p>{{ selectPersonDetail.biography }}</p>
      </div>
    </div>
  </div>

  }
  <div class="mb-6">
    <app-person-detail-movie-credits
      [personId]="personId"
    ></app-person-detail-movie-credits>
  </div>
  <div class="mb-6">
    <app-person-detail-tv-credits
      [personId]="personId"
    ></app-person-detail-tv-credits>
  </div>
</section>
