<div class="flex flex-col 1024:flex-row">
  <div class="1024:w-1/4">
    <app-discovery-tv-filters
      [languageList]="(selectLanguageList$ | async) ?? []"
      [sortBySelect]="(selectSortBy$ | async) ?? []"
      [combinedDiscoveryFilters$]="selectCombinedDiscoveryFilters$"
      [mediaType]="mediaType"
      (payloadEmitterOnSubmit)="discoveryTV($event)"
    >
    </app-discovery-tv-filters>
  </div>
  <div class="1024:w-3/4 ml-0 1024:ml-6 mt-6 1024:mt-0" #elSm>
    <app-media-list-container
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="(selectTVList$ | async) ?? []"
      (emitDiscoveryAdditionalMedia)="discoveryAdditionalTV()"
      [mediaType]="mediaType"
      [noAdditional]="(selectNoAdditional$ | async) ?? false"
      [direction]="'vertical'"
      [allowButtonAdditionalMedia]="true"
      [elSm]="elSm"
      [elXl]="elXl"
      [selectScrollTo$]="selectScrollTo$"
    ></app-media-list-container>
  </div>
</div>
