<section class="m-auto w-full max-w-[1920px]">
  <div
    class="bg-cover bg-top h-screen relative"
    [ngStyle]="{
      'background-image': $backgroundImageStyle()
    }"
  >
    <div class="absolute inset-0 pointer-events-none">
      <div
        class="absolute inset-x-0 bottom-0 h-1/2 bg-gradient-to-t from-[var(--theme-color-1)] to-transparent"
      ></div>
    </div>
    <div
      class="h-full background-placeholder inset-0 flex flex-col justify-center items-center"
      [ngStyle]="{
        'background-image': $headerMediaGradient()
      }"
    >
      <div class="text-center py-8 px-6">
        <h1
          class="text-5xl 640:text-6xl 768:text-7xl 1024:text-8xl mb-4 text-gradient font-extrabold stroke-black drop-shadow-md"
          [ngClass]="{
            'text-gradient-light': $predominantColorIsDark(),
            'text-gradient-dark': !$predominantColorIsDark()
          }"
        >
          Movie &amp; TV Bookmark
        </h1>
        <p
          class="text-lg 768:text-xl 1024:text-2xl max-w-4xl mx-auto"
          [ngClass]="{
            'header-text-gray-light': $predominantColorIsDark(),
            'header-text-gray-dark': !$predominantColorIsDark()
          }"
        >
          Search, explore, and save your movies and TV shows. Discover more with
          AI-powered prompts.
        </p>
      </div>
    </div>
  </div>
  <div class="relative z-20 -mt-32">
    <div class="px-4 768:px-8 1024:px-16 space-y-8">
      <div>
        <app-popular-movie
          [isLoading]="(trendingMediaIsLoading$ | async) ?? false"
          [trendingMediaMovieList]="(trendingMediaMovieList$ | async) ?? []"
        ></app-popular-movie>
      </div>
      <div>
        <app-popular-tv
          [isLoading]="(trendingMediaIsLoading$ | async) ?? false"
          [trendingMediaTVList]="(trendingMediaTVList$ | async) ?? []"
        ></app-popular-tv>
      </div>
    </div>
  </div>
</section>
