<app-discovery-tv-filters
  [languageList]="(selectLanguageList$ | async) ?? []"
  [combinedDiscoveryFilters$]="selectCombinedDiscoveryFilters$"
  [sortBySelect]="(selectSortBy$ | async) ?? []"
  [mediaType]="mediaType"
  (payloadEmitterOnSubmit)="discoveryTV($event)"
></app-discovery-tv-filters>

<app-media-list-container
  #tvListListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [mediaList]="(selectTVList$ | async) ?? []"
  (nearEnd)="
    tvListListContainer.mediaList.length
      ? discoveryAdditionalTV(tvListListContainer.mediaList.length)
      : null
  "
  [mediaType]="mediaType"
  [listType]="'tmdb'"
></app-media-list-container>
