<app-discovery-tv-filters
  [languageList]="(selectLanguageList$ | async) ?? []"
  [combinedDiscoveryFilters$]="selectCombinedDiscoveryFilters$"
  [sortBySelect]="(selectSortBy$ | async) ?? []"
  [mediaType]="mediaType"
  (payloadEmitterOnSubmit)="discoveryTV($event)"
></app-discovery-tv-filters>

<app-tv-list-container
  #tvListListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [tvList]="(selectTVList$ | async) ?? []"
  (nearEnd)="
    tvListListContainer.tvList.length
      ? discoveryAdditionalTV(tvListListContainer.tvList.length)
      : null
  "
  [mediaType]="mediaType"
></app-tv-list-container>
