<div class="mt-4 space-y-10">
  @if(!(isLoading$ | async)){
  <div class="bg-[var(--bg-failure-container)] text-sm p-3 rounded-md">
    <div class="flex space-x-2">
      <div>
        <mat-icon
          class="text-[var(--failure-icon-color)]"
          aria-hidden="false"
          fontIcon="lock"
        ></mat-icon>
      </div>
      <div class="text-[var(--text-color-dark)]">
        <h4>You don't have permission to access {{ pageName }} page.</h4>
        <ul class="list-none p-0 m-0">
          @if(params){
          <li>{{ params.error_description }}</li>
          } @if(!(isUserAuthenticated$ | async) && (canForceLogOut)){
          <li>
            For security reason you have been logged out, if your account was
            logged in.
          </li>
          <li>Log in to your account.</li>
          }
        </ul>
      </div>
    </div>
  </div>
  @if(forDisabledFeature){
  <div>
    <h4 class="font-normal">
      You've tried to request a page that requires you to be logged in. If you
      want to use features of {{ pageName }} page, just
      <a
        [routerLink]="'/login'"
        class="font-medium text-[var(--header-li-color)] hover:underline"
      >
        Sign In</a
      >
      with your account, or
      <a
        [routerLink]="'/register'"
        class="font-medium text-[var(--header-li-color)] hover:underline"
        >Sign Up</a
      >
    </h4>
  </div>
  }

  <div class="flex justify-center">
    <div class="w-[50%]">
      <button
        class="button-mt button-mt-role-normal"
        type="button"
        (keyup)="redirectTo('/home')"
        (click)="redirectTo('/home')"
      >
        Home
      </button>
    </div>
  </div>
  }
</div>
