<div class="box-media-item">
  <a id="card" [routerLink]="detailMediaPath">
    <div style="margin: 10px">
      <div style="display: flex">
        <h2>{{ mediaTitleOrName }}</h2>
        <span> {{ mediaType }} </span>
        <span> Lifecycle ID: {{ media.lifecycleId }}</span>
      </div>

      <p>{{ media.overview }}</p>
    </div>
  </a>
  <app-lifecycle-selector
    [mediaId]="media.id"
    [lifecycleId]="media.lifecycleId"
    [index]="index"
    [mediaType]="mediaType"
  ></app-lifecycle-selector>
</div>
