<app-input-query
  [placeholder]="'Search for a tv show'"
  [query]="selectQuery$ | async"
  (queryEmitter)="searchTV($event)"
></app-input-query>

<app-tv-list-container
  #tvListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [tvList]="(selectTVList$ | async) ?? []"
  (nearEnd)="
    tvListContainer.tvList.length
      ? searchAdditionalTV(tvListContainer.tvList.length)
      : null
  "
  [mediaType]="mediaType"
></app-tv-list-container>
