<!-- @for(video of videoList; track video){ @if($index === 0){
<app-youtube-embeded [videoId]="video.key"></app-youtube-embeded>
} } -->

<div class="flex relative">
  <div
    class="select-none m-auto absolute z-10 left-[2%] bottom-[40%] transition items-center"
    [ngClass]="{
      'h-0 w-0 opacity-0 cursor-default': isBeginning,
      'h-[20%] w-[8%] ': !isBeginning
    }"
  >
    <app-arrow-slider
      (emitClick)="prevVideo()"
      [arrowType]="'left'"
    ></app-arrow-slider>
  </div>

  <div class="swiper w-[90%]">
    <div class="swiper-wrapper">
      @for(video of videoList; track video){
      <div class="swiper-slide">
        <div class="w-[98%] m-auto">
          <app-youtube-embeded-preview
            [videoId]="video.key"
            [videoName]="video.name"
          ></app-youtube-embeded-preview>
        </div>
      </div>
      }
    </div>
  </div>
  <div
    class="select-none m-auto absolute z-10 right-[2%] bottom-[40%] transition items-center"
    [ngClass]="{
      'h-0 w-0 opacity-0 cursor-default': isEnd,
      'h-[20%] w-[8%] ': !isEnd
    }"
  >
    <app-arrow-slider
      (emitClick)="nextVideo()"
      [arrowType]="'right'"
    ></app-arrow-slider>
  </div>
</div>
