@if(navElements){
<nav
  class="fixed w-full sm:hidden flex justify-center pt-3"
  [ngClass]="{
    'header-mobile-show': !hiddenNavMenu,
  }"
>
  <ul class="list-none p-0 text-center m-0 transition">
    @for(navElement of navElements | keyvalue; track navElement.key){
    @if(canRender(navElement.value.needAuth, navElement.value.onlyNonAuth) ){
    @if(navElement.value.single){

    <li class="el-hover mb-3">
      <a
        [ngClass]="{
              'disabled': hiddenNavMenu,
            }"
        routerLinkActive="active"
        [routerLink]="navElement.value.paths[0]"
        class="block"
        >{{ navElement.value.label }}</a
      >
    </li>
    } @else {
    <li class="mb-3">
      <h4 class="m-0 text-lg">{{ navElement.value.label }}</h4>
      <ul class="list-none p-0">
        @for(subMenuEl of navElement.value.subMenu ; track subMenuEl.path){
        @if(canRender(subMenuEl.needAuth) ){
        <li class="el-hover">
          <a
            [ngClass]="{
                    'disabled': hiddenNavMenu,
                    
                  }"
            routerLinkActive="active"
            [routerLink]="subMenuEl.path"
            class="block"
            >{{ subMenuEl.label }}</a
          >
        </li>
        } }
      </ul>
    </li>
    } }}
  </ul>
</nav>
}
