<div>
  <div class="mb-6 pl-4">
    <a
      [title]="'Full Cast \u0026 Crew'"
      routerLinkActive="active"
      class="block"
      (keyup)="navigateToCredits()"
      (click)="navigateToCredits()"
      href="javascript:void(0);"
    >
      <div class="flex">
        <h2 class="mr-2">
          {{ title }}
        </h2>
        <h5 class="content-center">{{ castCrewList.length }}</h5>
        <mat-icon aria-hidden="false" [fontIcon]="'chevron_right'"></mat-icon>
      </div>
    </a>
  </div>
  <div class="box-border relative">
    @if(castCrewList.length > 0){
    <ul
      FadeScroller
      class="grid grid-flow-col grid-columns auto-cols-[160px] gap-4 lg:gap-8 p-0 pl-4 my-0 overflow-y-hidden"
    >
      @for(castCrew of castCrewList.slice(0,15); track castCrew.id){

      <li class="list-none w-full">
        <app-cast-crew-card
          [id]="castCrew.id"
          [name]="castCrew.name"
          [profile_path]="castCrew.profile_path"
          [role]="buildRole(castCrew)"
          [direction]="'vertical'"
        >
        </app-cast-crew-card>
      </li>

      }
    </ul>
    }@else {<app-missing-field-placeholder
      [caption]="placeholder"
    ></app-missing-field-placeholder>
    }
  </div>
</div>
