<div class="bg-black">
  <div class="p-2 flex justify-between">
    <h2
      class="text-[1rem] smc:text-[1.1rem] md:text-[1.35rem] text-[var(--text-color-light)]"
    >
      {{ title }}
    </h2>
    <div (click)="closeOverlay()">
      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="'close'"
      ></mat-icon>
    </div>
  </div>
  <div>{{ message }}</div>
  <button (click)="confirm()" class="button-mt">Confirm</button>
  <button (click)="cancel()" class="button-mt">Cancel</button>
</div>
