@if(filterForm){

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="">
  <app-genre-filter class="mt-16" [filterForm]="filterForm"></app-genre-filter>
  <div class="mt-16">
    <app-select-filter
      [filterForm]="filterForm"
      [controlName]="'sortBy'"
      [title]="'Sort Results By'"
      [selectObject]="sortBySelect"
    ></app-select-filter>
  </div>
  <div class="mt-16">
    <app-range-date-filter
      [rangeDateLabel]="'Release Date'"
      [customGroupName]="'releaseDate'"
      class="mt-16"
      [filterForm]="filterForm"
    >
    </app-range-date-filter>
  </div>
  <div class="mt-16">
    <app-checkbox-filter
      [filterForm]="filterForm"
      [controlName]="'includeLifecycle'"
      [label]="'Include movies in lifecycle'"
    ></app-checkbox-filter>
  </div>

  <div class="mt-16">
    <app-select-filter
      [filterForm]="filterForm"
      [controlName]="'certifications'"
      [title]="'Certification'"
      [transformSelectObject]="{
        objectToTransformSelect: certificationList,
        config: certificationsTransformConfig
      }"
      [defaultOption]="certificationsDefaultOption"
    ></app-select-filter>
  </div>

  <div class="mt-16">
    <app-select-filter
      [filterForm]="filterForm"
      [controlName]="'languages'"
      [title]="'Language'"
      [transformSelectObject]="{
        objectToTransformSelect: languageList,
        config: languagesTransformConfig
      }"
      [defaultOption]="languagesDefaultOption"
    ></app-select-filter>
  </div>

  <!-- <div class="mt-16">
    <app-vote-average-filter [filterForm]="filterForm">
    </app-vote-average-filter>
  </div> -->

  <button type="submit" class="mt-5" [disabled]="!filterForm.valid">
    Submit
  </button>
</form>
}
