<div class="w-[90%] md:w-[95%] max-w-sm m-auto pt-[60px]">
  <div class="w-[95%] max-w-sm pt-8">
    <div class="flex-none">
      <div class="bg-[var(--theme-color-3)] p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold text-center mb-6">
          Resend Confirmation Email
        </h2>
        <div
          class="flex-1 mb-4 transition-all duration-250 transform"
          #errorContainer
        >
          @if(submitted && !isFormValid){
          <div class="bg-[var(--bg-failure-container)] text-sm p-3 rounded-md">
            <div class="flex space-x-2">
              <div>
                <mat-icon
                  class="text-[var(--failure-icon-color)]"
                  aria-hidden="false"
                  fontIcon="error"
                ></mat-icon>
              </div>
              <ul class="list-none p-0 m-0 text-[var(--text-color-dark)]">
                @if(confirmationEmailRequestForm.get('email')?.errors){
                @if(confirmationEmailRequestForm.get('email')?.hasError('required')
                ){
                <li><mat-error>Please enter your email</mat-error></li>
                }
                @if(confirmationEmailRequestForm.get('email')?.hasError('email')){
                <li><mat-error>Invalid email address</mat-error></li>
                } }
              </ul>
            </div>
          </div>
          }
        </div>
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="confirmationEmailRequestForm"
          class="space-y-6"
        >
          <div>
            <label class="block text-sm font-medium" for="email">Email</label>
            <div class="relative">
              <input
                [ngClass]="{
                  'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                    !isEmailError,
                  'border-1 border-red-600 focus:outline-0 ': isEmailError
                }"
                autocomplete="username"
                type="email"
                id="email"
                formControlName="email"
                class="pl-12 mt-1 block w-full box-border px-3 py-2 rounded-md placeholder-gray-400 sm:text-sm"
              />
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <mat-icon
                  class="text-[var(--icon-color)]"
                  aria-hidden="false"
                  fontIcon="contact_mail"
                ></mat-icon>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col 244:flex-row space-y-4 244:space-y-0 space-x-0 244:space-x-4"
          >
            <button class="button-mt button-mt-role-normal" type="submit">
              Continue
            </button>
            <button
              class="button-mt button-mt-role-normal"
              type="button"
              (keydown)="redirectTo('/login')"
              (click)="redirectTo('/login')"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
