<section class="w-full mb-20">
  <div class="m-auto pt-[60px] overflow-hidden">
    @if(error$ | async; as error){
    <div class="w-full 1024:w-[80%] max-w-[1024px] 1024:mx-auto py-8">
      <app-error-message-template
        [title]="errorTitle"
        [message]="errorMessage"
      ></app-error-message-template>
    </div>
    } @else {
    <!--  -->
    @if(tvDetail$ | async; as tvDetail){

    <div
      class="flex bg-cover bg-no-repeat bg-center items-center overflow-hidden mb-0 1024:mb-8"
      [ngStyle]="{
        'background-image': tvDetail.backdrop_path
          ? 'url(' + TMDB_BACKDROP_W_1280_IMG_URL + tvDetail.backdrop_path + ')'
          : ''
      }"
    >
      <div
        class="flex flex-row h-full w-full p-4 justify-center 1024:p-8"
        [ngStyle]="{
          'background-image':
            pageEventService.$windowInnerWidth() >= 1024
              ? headerMediaGradient
              : '',
          'background-color':
            pageEventService.$windowInnerWidth() < 1024
              ? 'rgba(0, 0, 0, 0.411)'
              : ''
        }"
        [ngClass]="{ 'backdrop-blur-xl': headerMediaGradient === '' }"
      >
        <div
          class="w-full 1024:w-[80%] max-w-[1920px] 1024:mx-auto flex space-x-8 justify-center 1024:justify-normal"
        >
          <div class="relative">
            <div
              class="absolute z-10 top-[25px] right-[2px] hover:cursor-pointer"
            >
              <app-bookmark
                [media]="tvDetail"
                [mediaType]="mediaType"
                [index]="0"
                [direction]="'none'"
                (bookmarkLabelEmitter)="setBookmarkLabel($event)"
              ></app-bookmark>
            </div>

            <div
              class="text-center font-semibold rounded-t-lg border-t-2 text-[var(--text-color-light)] bg-[var(--theme-color-complementary-op)]"
              [ngClass]="bookmarkClass"
            >
              {{ bookmarkLabel }}
            </div>
            <div class="h-[300px] 1024:h-[600px] aspect-[2/3] relative">
              <app-img
                [alt]="tvDetail.name"
                [title]="tvDetail.name"
                [imgSrc]="tvDetail.poster_path"
                [baseUrl]="TMDB_POSTER_W_780_IMG_URL"
                [priority]="true"
                [customClasses]="'radius-container-int'"
                [isPlaceholderPerson]="false"
              ></app-img>
            </div>
          </div>

          @if(pageEventService.$windowInnerWidth() >= 1024) {
          <div class="hidden 1024:block">
            <app-tv-detail-main-info
              [textColorBlend]="textColorBlend"
              [isDark]="isDark"
              [tvData]="tvDetail"
              [releaseDate]="tvDetail.first_air_date"
              [mediaTitle]="tvDetail.name"
              [cast]="tvDetail.aggregate_credits.cast"
              [crew]="tvDetail.aggregate_credits.crew"
            ></app-tv-detail-main-info>
          </div>
          }
        </div>
      </div>
    </div>

    @if(pageEventService.$windowInnerWidth() < 1024){
    <div class="block 1024:hidden h-full">
      <app-tv-detail-main-info
        [textColorBlend]="textColorBlend"
        [isDark]="isDark"
        [contentMediaGradient]="contentMediaGradient"
        [tvData]="tvDetail"
        [releaseDate]="tvDetail.first_air_date"
        [mediaTitle]="tvDetail.name"
        [cast]="tvDetail.aggregate_credits.cast"
        [crew]="tvDetail.aggregate_credits.crew"
      ></app-tv-detail-main-info>
    </div>

    }

    <div
      class="w-full 1024:w-[80%] max-w-[1920px] 1024:mx-auto flex flex-col 1024:flex-row-reverse"
    >
      <div class="w-full 1024:w-[25%] space-y-4 1024:space-y-8 mb-4 1024:mb-0">
        <div class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4">
          <h2 class="mb-4 pl-4">For more info go to</h2>
          <div class="pl-4">
            <app-external-info
              [tmdbId]="tvDetail.id"
              [mediaType]="mediaType"
            ></app-external-info>
          </div>
        </div>

        <div
          class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4 mb-4 hidden 1024:block"
        >
          <div class="pl-4">
            <app-media-keywords
              [keywords]="tvDetail.keywords.results"
            ></app-media-keywords>
          </div>
        </div>
      </div>
      <div class="w-full 1024:w-[75%] space-y-4 1024:space-y-8 1024:mr-12">
        <div
          class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4 mb-4 flex"
        >
          <a
            [title]="'Full Cast \u0026 Crew'"
            routerLinkActive="active"
            class="block"
            (keyup)="navigateToCredits(tvDetail)"
            (click)="navigateToCredits(tvDetail)"
            href="javascript:void(0);"
          >
            <div class="flex">
              <h2 class="pl-4">{{ "Full Cast \u0026 Crew" }}</h2>
              <mat-icon
                aria-hidden="false"
                [fontIcon]="'chevron_right'"
              ></mat-icon>
            </div>
          </a>
        </div>
        <div class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4">
          <app-media-detail-cast-crew-list-preview
            [isLoading]="(isLoading$ | async) ?? false"
            [castCrewList]="tvDetail.aggregate_credits.cast"
            [title]="'Cast'"
            [mediaType]="'tv'"
            (navigateToCreditsEmitter)="navigateToCredits(tvDetail)"
          ></app-media-detail-cast-crew-list-preview>
        </div>
        <div class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4">
          <app-media-detail-cast-crew-list-preview
            [isLoading]="(isLoading$ | async) ?? false"
            [castCrewList]="tvDetail.aggregate_credits.crew"
            [title]="'Crew'"
            [mediaType]="'tv'"
            (navigateToCreditsEmitter)="navigateToCredits(tvDetail)"
          ></app-media-detail-cast-crew-list-preview>
        </div>

        <div class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4">
          <app-videos-container
            [videos]="tvDetail.videos"
            [videoTypeFilter]="{
              videosType: ['trailer'],
              typeFilter: 'include'
            }"
            [title]="'Trailers'"
            [mediaType]="'tv'"
          ></app-videos-container>
        </div>

        <div class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4">
          <app-videos-container
            [videos]="tvDetail.videos"
            [videoTypeFilter]="{
              videosType: ['trailer'],
              typeFilter: 'exlude'
            }"
            [title]="'Clips'"
            [mediaType]="'tv'"
          ></app-videos-container>
        </div>

        <div
          class="bg-[var(--theme-color-3)] 1024:bg-transparent py-4 block 1024:hidden"
        >
          <div class="pl-4">
            <app-media-keywords
              [keywords]="tvDetail.keywords.results"
            ></app-media-keywords>
          </div>
        </div>
      </div>
    </div>
    }}
  </div>
</section>
