<section class="w-[90%] max-w-5xl m-auto pt-[70px]">
  @if(tvDetail$ | async; as tvDetail){
  <div style="margin: 10px">
    <div style="display: flex">
      <div>
        <app-img
          [alt]="tvDetail.name"
          [title]="tvDetail.name"
          [imgSrc]="tvDetail.poster_path"
          [placeholderKey]="'placeholder_w300_h450'"
          [width]="300"
          [heigth]="450"
          [url1x]="TMDB_PROFILE_1X_IMG_URL"
          [url2x]="TMDB_PROFILE_2X_IMG_URL"
        ></app-img>
      </div>
      <div>
        <h1>{{ tvDetail.name }}</h1>
        <h3>{{ tvDetail.tagline }}</h3>
        <p>{{ tvDetail.overview }}</p>
      </div>
    </div>
  </div>
  }
</section>
