<!--  -->
<div class="bg-[var(--theme-color-3)] max-w-[450px] m-4">
  <div class="flex py-4">
    <div class="box-border w-full space-y-4">
      <div class="flex justify-between px-4">
        <h2>Confirm Change Password?</h2>
        <div (click)="cancel()">
          <mat-icon
            aria-hidden="false"
            aria-label=""
            [fontIcon]="'close'"
          ></mat-icon>
        </div>
      </div>
      <mat-divider
        role="separator"
        class="mat-divider mat-divider-horizontal"
        aria-orientation="horizontal"
      ></mat-divider>
      <div class="px-4 space-y-4">
        <div>
          <p>
            By confirming this request you will be sent an email with
            instructions on how to reset your password. Are you sure you want to
            do this?
          </p>
          <p>
            Please note: by resetting your password you will be logged out of
            all current sessions.
          </p>
        </div>

        <div
          class="flex flex-col xsm:flex-row space-y-4 xsm:space-y-0 space-x-0 xsm:space-x-4"
        >
          <button
            type="button"
            (click)="confirm()"
            class="button-mt button-mt-role-normal"
          >
            Confirm
          </button>
          <button
            type="button"
            (click)="cancel()"
            class="button-mt button-mt-role-normal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
