<!--  -->
<div class="bg-[var(--theme-color-3)] max-w-[450px] m-4 border-container">
  <div class="flex py-4">
    <div class="box-border w-full space-y-4">
      <div class="flex justify-between px-4">
        <h2>Confirm Change Password?</h2>
        <div class="cursor-pointer" (keyup)="cancel()" (click)="cancel()">
          <mat-icon aria-hidden="false" [fontIcon]="'close'"></mat-icon>
        </div>
      </div>
      <div class="border-separator"></div>
      <div class="px-4 space-y-4">
        <div>
          <p>
            By confirming this request you will be sent an email with
            instructions on how to reset your password. Are you sure you want to
            do this?
          </p>
          <p>
            Please note: by resetting your password you will be logged out of
            all current sessions.
          </p>
        </div>

        <div
          class="flex flex-col 382:flex-row space-y-4 382:space-y-0 space-x-0 382:space-x-4"
        >
          <button
            type="button"
            (keyup)="confirm()"
            (click)="confirm()"
            class="button-mt button-mt-role-normal"
          >
            Confirm
          </button>
          <button
            type="button"
            (keyup)="cancel()"
            (click)="cancel()"
            class="button-mt button-mt-role-normal"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
