<section class="pt-[92px] px-4">
  <div class="w-full max-w-[1280px] m-auto space-y-4">
    <div class="flex justify-center 640:justify-start gap-4 640:text-[1.2rem]">
      <a
        routerLinkActive="active"
        [routerLink]="'movie'"
        class="block text-[var(--text-color)]"
        >Movies</a
      >
      <a
        routerLinkActive="active"
        [routerLink]="'tv'"
        class="block text-[var(--text-color)]"
        >Tv Shows</a
      >
      <a
        routerLinkActive="active"
        [routerLink]="'people'"
        class="block text-[var(--text-color)]"
        >People</a
      >
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
