<div
  class="bg-black rounded-lg-custom"
  [ngStyle]="{
    width: videoContentWidth + 'px'
  }"
>
  <div class="p-2 flex justify-between text-[var(--text-color-light)]">
    <h2 class="text-[1rem] smc:text-[1.1rem] md:text-[1.35rem]">
      {{ videoName }}
    </h2>
    <div class="cursor-pointer" (click)="cancel()">
      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="'close'"
      ></mat-icon>
    </div>
  </div>

  <div class="aspect-[16/9]" #youTubePlayer>
    <youtube-player
      [videoId]="videoId"
      [disableCookies]="true"
      suggestedQuality="hd720"
      [playerVars]="playerVars"
    >
    </youtube-player>
  </div>
</div>
