<div class="space-y-8">
  <div>
    <app-input-query
      [placeholder]="'Search for a tv show...'"
      [query]="(selectQuery$ | async) ?? ''"
      (queryEmitter)="searchTV($event)"
    ></app-input-query>
  </div>

  <div>
    <app-media-list-container
      [query]="(selectQuery$ | async) ?? ''"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="(selectTVList$ | async) ?? []"
      (emitDiscoveryAdditionalMedia)="searchAdditionalTV()"
      [mediaType]="mediaType"
      [noAdditional]="(selectNoAdditional$ | async) ?? false"
      [direction]="'vertical'"
      [allowButtonAdditionalMedia]="true"
    ></app-media-list-container>
  </div>
</div>
