<div class="w-full" #youTubePlayer>
  <div class="inline-block aspect-[16/9] w-full">
    <app-img
      [alt]="videoName"
      [title]="videoName"
      [imgSrc]="urlThumbnail"
      [priority]="true"
      [customClasses]="'border-container-no-color'"
      [isPlaceholderPerson]="false"
    ></app-img>

    <!-- <youtube-player
      #player
      [videoId]="videoId"
      [disableCookies]="true"
      suggestedQuality="hd720"
      [playerVars]="playerVars"
      [width]="videoWidth"
      [height]="videoHeight"
    >
    </youtube-player> -->
  </div>
</div>
