<!-- to-do place holder, non usare direttiva-->
<div [ngClass]="customContainerHeightClass">
  <div
    class="relative overflow-hidden h-full"
    [ngClass]="{
    'pointer-events-none': !link ,
  }"
  >
    @if(priority){
    <img
      class="bg-size-placeholder"
      [alt]="alt"
      [title]="title"
      [ngSrc]="
        imgSrc
          ? baseUrl + imgSrc
          : isPlaceholderPerson
          ? '../../../../assets/images/glyphicons-basic-4-user-grey.svg'
          : '../../../../assets/images/glyphicons-basic-38-picture-grey.svg'
      "
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [priority]="priority"
      [placeholderConfig]="{ blur: false, }"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
    />
    } @else{
    <img
      class="bg-size-placeholder"
      [alt]="alt"
      [title]="title"
      [ngSrc]="
        imgSrc
          ? baseUrl + imgSrc
          : isPlaceholderPerson
          ? '../../../../assets/images/glyphicons-basic-4-user-grey.svg'
          : '../../../../assets/images/glyphicons-basic-38-picture-grey.svg'
      "
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
      [placeholderConfig]="{ blur: false }"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
    />
    }
  </div>
</div>

<!--     @defer ( ) { @if(fullSrc){
    <img
      class="fill-img"
      [alt]="alt"
      [title]="title"
      [srcset]="fullSrc"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
    />
    } @else if(placeholderSrc){
    <img
      class="fill-img"
      [alt]="alt"
      [title]="title"
      [srcset]="placeholderSrc"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
    />
    } } -->

<!--  -->

<!-- 
<div [ngClass]="customContainerHeightClass">
  <div
    class="relative overflow-hidden h-full"
    [ngClass]="{
    'pointer-events-none': !link ,
  }"
  >
    @if(priority){ @defer (on viewport) {

    <img
      [alt]="alt"
      [title]="title"
      [ngSrc]="fullSrc"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [priority]="priority"
    />
    } @placeholder {
    <img
      [alt]="alt"
      [title]="title"
      [ngSrc]="
        isPlaceholderPerson
          ? '../../../../assets/images/glyphicons-basic-4-user-grey.svg'
          : '../../../../assets/images/glyphicons-basic-38-picture-grey.svg'
      "
      fill="true"
      [ngClass]="customClasses"
      [priority]="priority"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
    />} } @else{ @defer (on viewport) {

    <img
      [alt]="alt"
      [title]="title"
      [ngSrc]="fullSrc"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
    />
    } @placeholder {
    <img
      [alt]="alt"
      [title]="title"
      [ngSrc]="
        isPlaceholderPerson
          ? '../../../../assets/images/glyphicons-basic-4-user-grey.svg'
          : '../../../../assets/images/glyphicons-basic-38-picture-grey.svg'
      "
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
    />} }
  </div>
</div> -->
