<div
  class="relative overflow-hidden aspect-[2/3]"
  [ngClass]="{ 'pointer-events-none': !link }"
>
  @if(priority){

  <img
    [alt]="alt"
    [title]="title"
    [ngSrc]="card1or2xImgUrl"
    [routerLink]="link"
    fill="true"
    [ngClass]="customClasses"
    [placeholder]="
      isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
    "
    [priority]="priority"
  />
  } @else{
  <img
    [alt]="alt"
    [title]="title"
    [ngSrc]="card1or2xImgUrl"
    [routerLink]="link"
    fill="true"
    [ngClass]="customClasses"
    [placeholder]="
      isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
    "
    [loading]="'lazy'"
  />}
</div>
