<div [ngClass]="customContainerHeightClass">
  <div
    class="relative overflow-hidden h-full"
    [ngClass]="{
    'pointer-events-none': !link ,
  }"
  >
    @if(imgSrc && priority && !imageLoadIsError){

    <img
      class="placeholder-bg-center"
      [alt]="alt"
      [title]="title"
      [ngSrc]="getFullSrc()"
      (keyup)="navigateTo()"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [priority]="priority"
      [placeholderConfig]="{ blur: false, }"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
      (error)="onError()"
    />
    } @else if(imgSrc && !priority && !imageLoadIsError){

    <img
      class="placeholder-bg-center"
      [alt]="alt"
      [title]="title"
      [ngSrc]="getFullSrc()"
      (keyup)="navigateTo()"
      (click)="navigateTo()"
      fill="true"
      [ngClass]="customClasses"
      [loading]="'lazy'"
      [placeholderConfig]="{ blur: false, }"
      [placeholder]="
        isPlaceholderPerson ? placeholderBase64Person : placeholderBase64Media
      "
      (error)="onError()"
    />
    } @else if(!imgSrc || imageLoadIsError){

    <div
      [title]="title"
      [routerLink]="link"
      [ngClass]="customClasses"
      class="h-full bg-no-repeat bg-center hover:cursor-pointer"
      [ngStyle]="{
        'background-image': getImgBackground()
      }"
    ></div>
    }
  </div>
</div>
