<div>
  <h2 class="mb-4 pl-4">Keywords</h2>
  @if(keywords.length > 0){
  <ul class="flex flex-wrap list-none p-0 m-0 1024:items-center">
    @for(keyword of keywords.slice(0,100); track keyword.id){
    <li class="list-none mr-2">
      <app-static-tag
        [tag]="keyword.name"
        [type]="'rounded-edge'"
      ></app-static-tag>
    </li>
    }
  </ul>
  }@else {
  <app-missing-field-placeholder
    [caption]="'No keywords found for this movie'"
  ></app-missing-field-placeholder>
  }
</div>
