<fieldset>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="searchErrorTpl">
      <nz-input-group nzPrefixIcon="search">
        <input
          type="text"
          id="search"
          nz-input
          maxlength="20"
          [formControl]="searchControl"
          [placeholder]="placeholder"
        />
        <ng-template #searchErrorTpl let-control>
          <!-- @if (control.errors?.['email']) { The input is not valid E-mail! } -->
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</fieldset>
