<div class="relative card-container">
  <a [routerLink]="[detailMediaPath]" [title]="person.name">
    <div
      class="text-[var(--text-color)] 1024:text-[var(--text-gray)] 1024:hover:text-[var(--text-color)] transition-colors relative shadow-img-card"
    >
      <div class="h-full box-border img-card-container rounded-lg" id="img-w">
        <div
          class="w-full aspect-[2/3] hover:cursor-pointer rounded-lg"
          id="img-c"
        >
          <app-img
            [alt]="person.name"
            [title]="person.name"
            [imgSrc]="person.profile_path"
            [baseUrl]="TMDB_POSTER_W_780_IMG_URL"
            [customClasses]="'border-img-card '"
            [state]="person"
            [isPlaceholderPerson]="true"
          ></app-img>
        </div>
      </div>
    </div>
    <div class="pt-4">
      <h4>
        <a [routerLink]="detailMediaPath" [title]="person.name">{{
          person.name
        }}</a>
      </h4>

      <p>
        <span>{{ person.known_for_department }}</span>
      </p>
      <div class="mt-1">
        <h5>
          @if(isPersonEntity(person)){ @for(knowFor of
          person.known_for.slice(0,3); track knowFor){

          <span>
            {{
              $index < person.known_for.length - 1
                ? (knowFor.title ? knowFor.title : knowFor.name) + ", "
                : knowFor.title
                ? knowFor.title
                : knowFor.name
            }}</span
          >
          } }
        </h5>
      </div>
    </div>
  </a>
</div>
