@defer (on viewport) {
<div class="h-full border-container flex box-border flex-col">
  <div class="w-full h-auto aspect-[2/3]">
    <app-img
      [alt]="person.name"
      [title]="person.name"
      [imgSrc]="person.profile_path"
      [url1x]="TMDB_SEARCH_LIST_1X_IMG_URL"
      [url2x]="TMDB_SEARCH_LIST_2X_IMG_URL"
      [link]="detailMediaPath"
      [state]="person"
      [borderClass]="'border-img-card'"
    ></app-img>
  </div>
  <div class="card-content">
    <h2>
      <a [routerLink]="detailMediaPath" [title]="person.name">{{
        person.name
      }}</a>
    </h2>
    <div class="mt-1">
      <p>
        {{ person.known_for_department }}
      </p>
      @if(isPersonEntity(person)){ @for(knowFor of person.known_for.slice(0,3);
      track knowFor){
      <p id="sub-text">
        {{
          $index < person.known_for.length - 1
            ? (knowFor.title ? knowFor.title : knowFor.name) + ", "
            : knowFor.title
            ? knowFor.title
            : knowFor.name
        }}
      </p>

      } }
    </div>
  </div>
</div>
} @placeholder(){
<div></div>
}
