<div class="h-full border-container flex box-border flex-col relative">
  <div class="w-full h-auto aspect-[2/3]">
    <app-img
      [alt]="movie.title"
      [title]="movie.title"
      [imgSrc]="movie.poster_path"
      [baseUrl]="TMDB_SEARCH_LIST_1X_IMG_URL"
      [link]="detailMediaPath"
      [customClasses]="'border-img-card'"
    ></app-img>
  </div>

  <app-lifecycle-selector
    (lifecycleStatusElementEmitter)="setLifecycleStatusElement($event)"
    [mediaData]="movie"
    [index]="index"
    [mediaType]="mediaType"
  ></app-lifecycle-selector>

  <app-lifecycle-status-label
    [lifecycleEnumSelected]="lifecycleEnumSelected"
  ></app-lifecycle-status-label>

  <div class="card-content">
    <h4>
      <a [routerLink]="[detailMediaPath]" [title]="movie.title">{{
        movie.title
      }}</a>
    </h4>
    <div class="mt-1">
      <p>
        {{ movie.release_date | date : "longDate" }}
      </p>
      @if(voteAverage){
      <app-rating [voteAverage]="voteAverage"></app-rating>
      }
    </div>
  </div>
</div>
