<section class="w-[90%] max-w-screen-2xl mx-auto pt-[60px]">
  <div class="mt-[100px]">
    <button class="button-mt" (click)="logout()"><span>Log out</span></button>
  </div>

  <div class="mt-[100px]">
    <app-delete-account-confirmation-dialog
      (submitDialogEmitter)="deleteAccount($event)"
    ></app-delete-account-confirmation-dialog>
  </div>

  <div class="mt-[100px]">
    <app-change-password-confirmation-dialog
      (submitDialogEmitter)="requestChangePassword($event)"
    ></app-change-password-confirmation-dialog>
  </div>
</section>
