<app-input-query
  [placeholder]="'Search for a movie'"
  [query]="selectQuery$ | async"
  (queryEmitter)="searchMovie($event)"
></app-input-query>

<app-media-list-container
  #movieListContainer
  appScrollNearEnd
  [scrollIsLoading]="(selectIsLoading$ | async) ?? false"
  [isLoading]="(selectIsLoading$ | async) ?? false"
  [mediaList]="(selectMovieList$ | async) ?? []"
  (nearEnd)="
    movieListContainer.mediaList.length
      ? searchAdditionalMovie(movieListContainer.mediaList.length)
      : null
  "
  [mediaType]="mediaType"
></app-media-list-container>
