<section class="w-[90%] md:w-[95%] max-w-5xl m-auto pt-[60px]">
  <div class="mt-6">
    <h1 class="text-center">{{ title }}</h1>
  </div>
  <div class="mt-6">
    <app-input-query
      [placeholder]="'Search for a movie'"
      [query]="selectQuery$ | async"
      (queryEmitter)="searchMovie($event)"
    ></app-input-query>
  </div>
  <div class="mt-4">
    <app-media-list-container
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="(selectMovieList$ | async) ?? []"
      (emitDiscoveryAdditionalMedia)="searchAdditionalMovie()"
      [mediaType]="mediaType"
      [noAdditional]="(selectNoAdditional$ | async) ?? false"
      [direction]="'vertical'"
    ></app-media-list-container>
  </div>
</section>
