@if(filterForm){

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="box-border border-container mb-4">
    <div
      class="p-3 flex justify-between hover:cursor-pointer"
      (click)="toggleMenuSort()"
      [ngClass]="{
        'border-separator': !isHideSortContainer
      }"
    >
      <h3>Sort</h3>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideSortContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>
    <div
      class="px-3 py-5"
      [ngClass]="{
        'hidden-container': isHideSortContainer
      }"
    >
      <app-select-filter
        [filterForm]="filterForm"
        [controlName]="'sortBy'"
        [title]="'Sort Results By'"
        [selectObject]="sortBySelect"
      ></app-select-filter>
    </div>
  </div>

  <div class="box-border border-container mb-4">
    <div
      class="p-3 flex justify-between hover:cursor-pointer"
      [ngClass]="{
        'border-separator': !isHideFilterContainer
      }"
      (click)="toggleMenuFilter()"
    >
      <h3>Filters</h3>

      <mat-icon
        aria-hidden="false"
        aria-label=""
        [fontIcon]="isHideFilterContainer ? 'expand_more' : 'chevron_right'"
      ></mat-icon>
    </div>

    <div
      #filterContainer
      [ngClass]="{
        'hidden-container': isHideFilterContainer
      }"
    >
      <div class="px-3 py-5">
        <app-genre-filter [filterForm]="filterForm"></app-genre-filter>
      </div>

      <div class="px-3 py-5 border-separator">
        <app-checkbox-filter
          [title]="'Air Date'"
          [filterForm]="filterForm"
          [controlName]="'allEpisode'"
          [label]="'Search all episode?'"
        ></app-checkbox-filter>
        <div class="mt-3">
          <app-range-date-filter
            [customGroupName]="'airDate'"
            [rangeDateLabel]="
              filterForm.value.allEpisode ? 'All episodes' : 'First air date'
            "
            [filterForm]="filterForm"
          >
          </app-range-date-filter>
        </div>
      </div>

      <div class="px-3 py-5 border-separator">
        <app-checkbox-filter
          [title]="'Bookmark'"
          [filterForm]="filterForm"
          [controlName]="'includeBookmark'"
          [label]="'Show TV already in bookmark '"
        ></app-checkbox-filter>
      </div>

      <div class="px-3 py-5 border-separator">
        <app-select-filter
          [filterForm]="filterForm"
          [controlName]="'languages'"
          [title]="'Language'"
          [transformSelectObject]="{
            objectToTransformSelect: languageList,
            config: languagesTransformConfig
          }"
          [defaultOption]="languagesDefaultOption"
        ></app-select-filter>
      </div>

      <div class="px-3 py-5 border-separator">
        <app-vote-average-filter [filterForm]="filterForm">
        </app-vote-average-filter>
      </div>

      <div class="px-3 py-5">
        <app-min-vote-filter [filterForm]="filterForm"> </app-min-vote-filter>
      </div>
    </div>
  </div>

  <div class="px-3 py-5">
    <button
      type="submit"
      class="submit py-3 rounded-full cursor-pointer w-full disabled:"
      [disabled]="!filterForm.valid || isDisableButton"
    >
      <span class="text-white text-lg">Search</span>
    </button>
  </div>
</form>

}
