<section class="w-full max-w-screen-3xl pt-[60px] space-y-8">
  <!-- Header Section -->
  <div
    class="bg-cover bg-top home-header"
    [ngStyle]="{
      'background-image': backgroundImageStyle
    }"
  >
    <div
      class="h-full inset-0 flex flex-col justify-center items-center"
      [ngStyle]="{
        'background-image': headerMediaGradient
      }"
    >
      <h1 class="text-4xl sm:text-5xl md:text-6xl mb-4 text-white text-center">
        Movie &amp; TV Bookmark
      </h1>
      <div class="px-4">
        <p class="text-lg md:text-2xl mb-8 text-white text-center">
          Search, discover, and save your favorite movies and tv shows.
        </p>
      </div>
      <!-- text-lg md:text-xl -->
      <div class="w-[20%] min-w-[8rem] max-w-[12rem]">
        <button (click)="scroll(features)">Explore Now</button>
      </div>
    </div>
  </div>
  <div class="max-w-6xl m-auto space-y-8">
    <!-- Main Features Section -->
    <div #features class="py-8 px-4 text-center">
      <h2 class="text-3xl md:text-5xl font-bold mb-12">Main Features</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-6 border-container">
          <h3 class="text-2xl font-semibold mb-4">Extensive Database</h3>
          <p>
            Access thousands of movies and TV shows, searching by title, genre,
            year or other available filters.
          </p>
        </div>
        <div class="p-6 border-container">
          <h3 class="text-2xl font-semibold mb-4">Save to Bookmarks</h3>
          <p>Easily save and organize your favorite movies or tv shows.</p>
        </div>
        <div class="p-6 border-container">
          <h3 class="text-2xl font-semibold mb-4">Search by cast or crew</h3>
          <p>
            You can also search cast and crew to view in which movies or tv
            shows they have partecipated.
          </p>
        </div>
      </div>
    </div>

    <mat-divider
      role="separator"
      class="mat-divider mat-divider-horizontal"
      aria-orientation="horizontal"
    ></mat-divider>

    <!-- About Section -->
    <div id="about" class="py-8 px-4">
      <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">
        About Movie &amp; TV Bookmark
      </h2>
      <p class="text-lg md:text-xl mb-8 text-center">
        A simple skill showcase web-app for searching and saving movies and tv
        shows in dedicated bookmarks. Explore and update your movies and tv
        shows saved in the bookmarks section as you wish! You can also remove a
        media from the bookmark.
      </p>
      <div class="flex justify-center">
        <ul class="space-y-6 p-0">
          <li class="flex">
            <span class="flex-shrink-0 h-8 w-8">
              <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
            </span>
            <div class="ml-4">
              <h3 class="text-xl font-medium watchlist-color">
                Watchlist Bookmark
              </h3>
              <p class="mt-1">
                Save movies and tv shows that you'd like to watch someday!
              </p>
            </div>
          </li>
          <li class="flex">
            <span class="flex-shrink-0 h-8 w-8">
              <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
            </span>
            <div class="ml-4">
              <h3 class="text-xl font-medium watched-color">
                Watched Bookmark
              </h3>
              <p class="mt-1">
                A list of movies and tv show that you've already watched, just
                to keep in mind!
              </p>
            </div>
          </li>
          <li class="flex">
            <span class="flex-shrink-0 h-8 w-8">
              <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
            </span>
            <div class="ml-4">
              <h3 class="text-xl font-medium rewatch-color">
                Rewatch Bookmark
              </h3>
              <p class="mt-1">
                A list of movies and tv show that you'd like to watch again!
              </p>
            </div>
          </li>
          <li class="flex">
            <span class="flex-shrink-0 h-8 w-8">
              <mat-icon aria-hidden="false" fontIcon="bookmark"></mat-icon>
            </span>
            <div class="ml-4">
              <h3 class="text-xl font-medium watching-color">
                Still Watching Bookmark
              </h3>
              <p class="mt-1">
                A list of movies and tv show that you haven't finished yet!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <mat-divider
      role="separator"
      class="mat-divider mat-divider-horizontal"
      aria-orientation="horizontal"
    ></mat-divider>

    <!-- Powered by -->
    <div class="py-8 px-4">
      <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">
        Powered by
      </h2>
      <p class="text-lg md:text-xl mb-8 text-center">
        Movie &amp; TV Bookmark uses the TMDB API but is not endorsed or
        certified by TMDB.
      </p>
      <div class="w-[50%] aspect-[2/1] items-center m-auto">
        <a [href]="'https://www.themoviedb.org/'" target="_blank">
          <app-img
            [alt]="'TMDB logo'"
            [title]="'TMDB logo'"
            [imgSrc]="
              'https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg'
            "
            [priority]="true"
            [customClasses]="'border-container-no-color'"
            [isPlaceholderPerson]="false"
          ></app-img
        ></a>
      </div>
    </div>
  </div>
</section>
