<div class="flex flex-wrap">
  <h2>Movie Lifecycle</h2>
  <nav>
    <div class="container my-3 flex flex-wrap">
      <ul class="flex">
        <li class="flex-1" routerLinkActive="active">
          <a routerLink="watchlist">Watchlist Lifecycle</a>
        </li>
      </ul>
      <ul class="flex">
        <li class="flex-1" routerLinkActive="active">
          <a routerLink="watched">Watched Lifecycle</a>
        </li>
      </ul>
      <ul class="flex">
        <li class="flex-1" routerLinkActive="active">
          <a routerLink="rewatch">Rewatch Lifecycle</a>
        </li>
      </ul>
      <ul class="flex">
        <li class="flex-1" routerLinkActive="active">
          <a routerLink="stillWatching">Still Watching Lifecycle</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
