<div class="space-y-1">
  <h3>Biography</h3>
  @if( biography){

  <div class="mx-auto mt-10">
    <div #textContainer class="relative overflow-hidden max-h-20 fade">
      @for(p of splitByDoubleNewline(biography); track p){
      <p class="pb-6">{{ p }}</p>
      }
    </div>

    <div>
      <a
        href="javascript:void(0);"
        class="items-center flex justify-end text-[var(--link-color)]"
        id="toggleButton"
        (click)="toggleReadMore()"
        #toggleButton
      >
        <span>{{ toggleReadMoreText }}</span>

        <mat-icon aria-hidden="false" [fontIcon]="chevron"></mat-icon>
      </a>
    </div>
  </div>
  } @else {
  <app-missing-field-placeholder
    [caption]="'No biography found for this person'"
  ></app-missing-field-placeholder>
  }
</div>
