<div class="space-y-1">
  <h3>Biography</h3>
  @if( biography){

  <div class="mx-auto mt-10">
    <div #textContainer class="relative overflow-hidden max-h-20">
      @for(p of splitByDoubleNewline(biography); track p){
      <p class="pb-6">{{ p }}</p>
      }
    </div>
    <button
      class="button-mt button-mt-role-normal"
      id="toggleButton"
      (click)="toggleReadMore()"
      #toggleButton
    >
      Read More
    </button>
  </div>
  } @else {
  <app-missing-field-placeholder
    [caption]="'No biography found for this person'"
  ></app-missing-field-placeholder>
  }
</div>
