<section
  class="w-full w-max-[1920px] m-auto pt-[60px] max-w-screen-3xl mb-20 overflow-hidden"
>
  @if(movieDetail$ | async; as movieDetail){

  <div
    id="header-detail"
    class="flex bg-cover bg-no-repeat bg-center items-center overflow-hidden lg:min-h-[85vh]"
    [ngStyle]="{
      'background-image':
        'url(' + TMDB_MULTI_FACE_2X_IMG_URL + movieDetail.backdrop_path + ')'
    }"
  >
    <div
      class="backdrop-blur-xl flex flex-row header-gradient h-full w-full p-4 justify-center lg:justify-normal lg:p-8 space-x-8"
      #headerMediaDetail
    >
      <div class="h-[35vh] lg:h-[85vh] aspect-[2/3] w-xxxsm relative">
        <app-img
          [alt]="movieDetail.title"
          [title]="movieDetail.title"
          [imgSrc]="movieDetail.poster_path"
          [url1x]="TMDB_PROFILE_2X_IMG_URL"
          [url2x]="TMDB_PROFILE_2X_IMG_URL"
          [priority]="true"
          [customClasses]="'border-container-no-color'"
        ></app-img>

        <app-lifecycle-selector
          (lifecycleStatusElementEmitter)="setLifecycleStatusElement($event)"
          [mediaData]="movieDetail"
          [index]="0"
          [mediaType]="'movie'"
        ></app-lifecycle-selector>

        <div class="w-full absolute bottom-0">
          <app-lifecycle-status-label
            [lifecycleEnumSelected]="lifecycleEnumSelected"
            [customClass]="'border-lifecycle-label'"
          ></app-lifecycle-status-label>
        </div>
      </div>

      <!-- Movie detail content -->
      @if(((pageEventService.windowInnerWidth$ | async) ?? 0) >= 1024) {
      <div class="hidden lg:block">
        <app-media-detail-content
          [mediaData]="movieDetail"
          [voteAverage]="movieDetail.vote_average"
          [mediaTitle]="movieDetail.title"
          [crewList]="movieDetail.crew"
          [castList]="movieDetail.cast.slice(0, 5)"
          [genres]="movieDetail.genres"
          [overview]="movieDetail.overview"
          [releaseDate]="movieDetail.release_date"
          [runtime]="movieDetail.runtime"
          [tagLine]="movieDetail.tagline"
          [certification]="movieDetail.release_dates[0].certification"
        ></app-media-detail-content>
      </div>
      }
    </div>
  </div>
  @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 1024){
  <div class="block lg:hidden h-full">
    <app-media-detail-content
      [isSmallContainer]="true"
      #contentContainer
      [mediaData]="movieDetail"
      [voteAverage]="movieDetail.vote_average"
      [mediaTitle]="movieDetail.title"
      [crewList]="movieDetail.crew"
      [castList]="movieDetail.cast.slice(0, 5)"
      [genres]="movieDetail.genres"
      [overview]="movieDetail.overview"
      [releaseDate]="movieDetail.release_date"
      [runtime]="movieDetail.runtime"
      [tagLine]="movieDetail.tagline"
      [certification]="movieDetail.release_dates[0].certification"
    ></app-media-detail-content>
  </div>

  }

  <div class="w-full lg:w-[85%] lg:mx-auto flex flex-col lg:flex-row py-10">
    <div class="w-1/1 lg:w-[75%] lg:mr-4">
      <div class="border-separator pb-8 mb-8">
        <h2 class="px-4 mb-2">Cast</h2>
        <app-cast-crew-list-container
          [isLoading]="(isLoading$ | async) ?? false"
          [castCrewList]="movieDetail.cast"
        ></app-cast-crew-list-container>
      </div>
      <div class="border-separator pb-8 mb-8">
        <h2 class="px-4 mb-2">Crew</h2>
        <app-cast-crew-list-container
          [isLoading]="(isLoading$ | async) ?? false"
          [castCrewList]="movieDetail.crew"
        ></app-cast-crew-list-container>
      </div>
    </div>
    <div class="w-1/1 lg:w-[25%] lg:ml-4 lg:px-0">
      <div class="space-y-4">
        <div class="px-4">
          <h2>Budget</h2>
          <p>sgwsds</p>
        </div>
      </div>
    </div>
  </div>
  }
</section>
