<form
  nz-form
  [formGroup]="resetPasswordForm"
  class="reset-password-form"
  (ngSubmit)="onSubmit()"
>
  <fieldset [disabled]="selectIsLoading$ | async">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
          <ng-template #emailErrorTpl let-control>
            @if (control.errors?.['email']) { The input is not valid E-mail! }
            @if (control.errors?.['required']) { Please input your E-mail! }
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      [disabled]="!resetPasswordForm.valid"
      nz-button
      class=""
      [nzType]="'primary'"
      [nzLoading]="selectIsLoading$ | async"
    >
      Send password reset email
    </button>
  </fieldset>
</form>
