.reset-password-form {
  max-width: 300px;
}

.reset-password-form-margin {
  margin-bottom: 16px;
}

.reset-password-form-button {
  width: 100%;
}

[nz-button] {
  width: 100%;
  margin-bottom: 16px;
}
