<section class="w-full pt-[60px]">
  <div class="bg-[var(--bg-input-search)] p-6 shadow-md">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-center">
      Search for Movies
    </h1>
  </div>
  <div class="w-[90%] md:w-[95%] max-w-5xl m-auto">
    <div class="mt-6">
      <app-input-query
        [placeholder]="'Search for a movie...'"
        [query]="(selectQuery$ | async) ?? ''"
        (queryEmitter)="searchMovie($event)"
      ></app-input-query>
    </div>
    <div class="mt-4">
      <app-media-list-container
        [isLoading]="(selectIsLoading$ | async) ?? false"
        [mediaList]="(selectMovieList$ | async) ?? []"
        (emitDiscoveryAdditionalMedia)="searchAdditionalMovie()"
        [mediaType]="mediaType"
        [noAdditional]="(selectNoAdditional$ | async) ?? false"
        [direction]="'vertical'"
      ></app-media-list-container>
    </div>
  </div>
</section>
