<div class="space-y-8">
  <div>
    <app-input-query
      [placeholder]="'Search for a movie...'"
      [query]="(selectQuery$ | async) ?? ''"
      (queryEmitter)="searchMovie($event)"
    ></app-input-query>
  </div>
  <div>
    <app-media-list-container
      [searchType]="'search'"
      [query]="(selectQuery$ | async) ?? ''"
      [isLoading]="(selectIsLoading$ | async) ?? false"
      [mediaList]="(selectMovieList$ | async) ?? []"
      (emitDiscoveryAdditionalMedia)="searchAdditionalMovie()"
      [mediaType]="mediaType"
      [noAdditional]="(selectNoAdditional$ | async) ?? false"
      [direction]="'vertical'"
      [allowButtonAdditionalMedia]="true"
    ></app-media-list-container>
  </div>
</div>
