@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************************/
/************* Variables *****************/
/*****************************************/
:root {
  --bg-button: rgb(79, 70, 229);
  --bg-button-hover: rgb(105, 99, 231);
  --bg-button-active: rgb(122, 116, 238);
  --bg-button-warning: rgb(255, 238, 0);
  --bg-button-warning-hover: rgb(243, 252, 68);
  --bg-button-warning-active: rgb(247, 255, 101);
  --border-radius-ext: 7.2px;
  --border-radius-int: 6.2px;
  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: rgb(0, 27, 63);
  --bg-veil-media-detail: rgba(0, 0, 0, 0.411);
  --link-color-dark: rgb(49, 51, 53);
  --link-color-light: rgb(236, 239, 243);
  --bg-success-container: rgb(195, 255, 196);
  --success-icon-color: rgb(34, 141, 18);
  --bg-failure-container: rgb(253, 168, 168);
  --failure-icon-color: rgb(186, 70, 57);
  --bg-danger: rgb(162, 13, 35);
  --bg-danger-hover: rgb(214, 16, 46);
  --bg-danger-active: rgb(233, 35, 65);
  --bookmark-icon-selected: rgb(33, 173, 234);
  --home-bg-asbent-image: rgb(63, 78, 85);
  --disabled-text-color: rgb(176, 176, 176);
}

body.light {
  --theme-color-1: rgb(243, 244, 246);
  --theme-color-2: rgb(165, 180, 252);
  --theme-color-3: rgb(255, 255, 255);
  --theme-color-4: rgb(168, 168, 168);
  --theme-color-sub-menu: rgb(226, 226, 226);
  --border-color: rgba(209, 213, 219);
  --link-color: rgb(99, 102, 241);
  --link-color-hover: rgb(134, 136, 240);
  --text-gray: rgb(75, 85, 99);
  --bg-input-search: rgb(249, 250, 251);
  --bg-bookmark-icon: rgba(255, 255, 255, 0.85);
  --header-li-color: rgb(0, 92, 187);
  --text-color: var(--text-color-dark);
  --border-color-separator: rgb(132, 115, 118);
  --tag-border-color: #a5a5a5;
  --icon-color: rgb(32, 33, 34);
  --bg-li-hover: rgb(185, 185, 185);
  --scroll-background-color: rgb(240, 240, 240);
  --scroll-thumb-active-color: rgb(152, 152, 152);
  --scroll-thumb-hover-color: rgb(136, 136, 136);
  --scroll-thumb-color: rgb(120, 120, 120);
  --bg-color-arrow-slider: rgba(18, 18, 18, 0.45);
  --disabled-bg: rgb(216, 216, 216);
  --text-active: rgb(126, 133, 141);
}
body.dark {
  --theme-color-1: rgb(17, 24, 39);
  --theme-color-2: rgb(28, 44, 66);
  --border-color: rgba(55, 65, 81);
  --theme-color-3: rgb(31, 41, 55);
  --theme-color-4: rgb(21, 29, 39);
  --theme-color-sub-menu: rgb(47, 61, 82);
  --bg-input-search: rgb(31, 41, 55);
  --link-color: rgb(99, 102, 241);
  --link-color-hover: rgb(134, 136, 240);
  --text-gray: rgb(177, 186, 199);
  --bg-bookmark-icon: rgb(18, 20, 20, 0.85);
  --header-li-color: rgb(0, 221, 221);
  --text-color: var(--text-color-light);
  --border-color-separator: rgb(136, 147, 146);
  --tag-border-color: #a5a5a5;
  --icon-color: rgb(185, 185, 185);
  --bg-li-hover: rgb(21, 28, 37);
  --scroll-background-color: rgb(23, 23, 23);
  --scroll-thumb-active-color: rgb(128, 128, 128);
  --scroll-thumb-hover-color: rgb(112, 112, 112);
  --scroll-thumb-color: rgb(96, 96, 96);
  --bg-color-arrow-slider: rgba(87, 87, 87, 0.45);
  --disabled-bg: rgb(124, 124, 124);
  --text-active: rgb(172, 182, 196);
}
/****************** End ******************/

/*********************************************/
/************* Main Elements *****************/
/*********************************************/
html,
body {
  font-size: 16px;
  height: auto;
  margin: 0px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--theme-color-1);
  color: var(--text-color);
  transition: all 0.1s;
  min-width: 320px;
}

header,
footer {
  background-color: var(--theme-color-2);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

p {
  line-height: 22px;
}

input,
textarea,
button,
select,
a,
svg,
div {
  -webkit-tap-highlight-color: transparent;
}

input {
  background-color: var(--theme-color-1);
  color: var(--text-color);
  transition: all 0.1s;
}

input::placeholder {
  color: rgb(156 163 175);
}

select {
  background-color: var(--theme-color-1);
  color: var(--text-color);
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1em;
}

a:hover {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

a:active {
  color: var(--text-active);
}

img {
  cursor: pointer;
}

@media (min-width: 641px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 1.35rem;
  font-weight: 650;
}
h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
h5,
.overview-card {
  font-size: 0.9rem;
  font-weight: 250;
  margin: 0px;
  color: var(--text-gray);
}

p,
label {
  font-size: 1rem;
}

h1,
h2,
h3 {
  line-height: 1;
}

button.button-mt {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  width: 100%;
  border-color: transparent;
  font-size: 0.9rem;
}

button.button-mt.button-mt-role-normal {
  color: var(--text-color-light);
  background-color: var(--bg-button);
}
button.button-mt.button-mt-role-warning {
  color: var(--text-color-dark);
  background-color: var(--bg-button-warning);
}
button.button-mt.button-mt-role-danger {
  color: var(--text-color-light);
  background-color: var(--bg-danger);
}

@media (hover: hover) and (pointer: fine) {
  button.button-mt.button-mt-role-normal:hover {
    background-color: var(--bg-button-hover);
  }
  button.button-mt.button-mt-role-warning:hover {
    background-color: var(--bg-button-warning-hover);
  }
  button.button-mt.button-mt-role-danger:hover {
    background-color: var(--bg-danger-hover);
  }
  button:hover {
    cursor: pointer;
  }
  button.button-mt:disabled:hover {
    background-color: var(--disabled-bg);
  }
}

button.button-mt.button-mt-role-normal:active {
  background-color: var(--bg-button-active);
}
button.button-mt.button-mt-role-warning:active {
  background-color: var(--bg-button-warning-active);
}
button.button-mt.button-mt-role-danger:active {
  background-color: var(--bg-danger-active);
}

button.button-mt:disabled:active {
  background-color: var(--disabled-bg);
}
button.button-mt:disabled:focus {
  background-color: var(--disabled-bg);
}

button.button-mt:focus {
  outline-offset: 2px;
  outline: 2px solid transparent;
}

button.button-mt:disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text-color);
  cursor: auto;
}
/****************** End ******************/

/*********************************************/
/***************** Borders *******************/
/*********************************************/
.border-container {
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-ext);
}

.border-container-full {
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
}

.radius-container-int {
  border-radius: var(--border-radius-int);
}

.border-img-card {
  border-top-left-radius: var(--border-radius-int);
  border-top-right-radius: var(--border-radius-int);
}

.border-img-card-sm {
  border-top-left-radius: var(--border-radius-int);
  border-bottom-left-radius: var(--border-radius-int);
}

.border-img-card-media-sm {
  border-bottom-left-radius: var(--border-radius-int);
  border-top-left-radius: var(--border-radius-int);
}

.border-bookmark-label-card-sm {
  border-top-left-radius: var(--border-radius-int);
}

.border-bookmark-label-detail {
  border-bottom-left-radius: var(--border-radius-int);
  border-bottom-right-radius: var(--border-radius-int);
}

.border-img-card-full {
  border-radius: 50%;
}

.bg-label-detail {
  background-color: rgb(37, 37, 37);
}

.border-separator {
  border-bottom: 1px solid var(--border-color-separator);
}
/****************** End ******************/

/********************************************************/
/****************** Bookmark ****************************/
/********************************************************/
@media (min-width: 621px) {
  .bg-bookmark-vertical {
    transform: scale(1);
    background-color: var(--bg-bookmark-icon);
  }
}

@media (max-width: 620px) {
  .bg-bookmark-vertical {
    transform: scale(1.25);
    background-color: transparent;
  }
}

.bg-bookmark-horizontal {
  transform: scale(1);
  background-color: var(--bg-bookmark-icon);
}

.bg-bookmark-detail {
  transform: scale(1.25);
  background-color: var(--bg-bookmark-icon);
}
.noBookmark-color {
  color: rgb(158, 158, 158);
}

.watchlist-color {
  color: rgb(110, 184, 88);
}

.rewatch-color {
  color: rgb(72, 85, 202);
}

.watching-color {
  color: rgb(188, 65, 192);
}

.watched-color {
  color: rgb(199, 65, 65);
}
/****************** End ******************/

/********************************************************/
/********************** Fade ****************************/
/********************************************************/

@media (min-width: 1024px) {
  .should_fade:after {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      var(--theme-color-1) 100%
    );
  }
}
@media (max-width: 1023px) {
  .should_fade:after {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      var(--theme-color-3) 100%
    );
  }
}

.should_fade:after {
  transition: linear 0.3s;
  opacity: 1;
  width: 70px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  will-change: opacity;
  pointer-events: none;
}
.is_hidden:after {
  transition: linear 0.3s;
  opacity: 0;
}

/****************** End ******************/

/********************************************************/
/******************* Youtube ****************************/
/********************************************************/

.backdrop-class-youtube-dialog {
  background: rgba(0, 0, 0, 0.6);
}

youtube-player {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
youtube-player-placeholder {
  width: 100% !important;
  height: 100% !important;
  border-bottom-left-radius: 0.675rem;
  border-bottom-right-radius: 0.675rem;
}

iframe {
  border-bottom-left-radius: 0.675rem;
  border-bottom-right-radius: 0.675rem;
  width: 100% !important;
  height: 100% !important;
}

youtube-player div:first-child {
  height: 100% !important;
}
/****************** End ******************/

/*********************************************/
/****************** Others *******************/
/*********************************************/
.person-img-margin {
  margin-top: -25px;
}

.card-content {
  padding: 14px 14px 0px 14px;
}

.card-content:last-child {
  padding-bottom: 16px;
}

.hidden-container {
  opacity: 0;
  overflow: hidden;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 205px) {
  .w-xxxsm {
    width: 100%;
  }
}

.clickable-icon {
  color: var(--text-color-light);
}

.clickable-icon:active {
  color: var(--disabled-text-color);
}

@media (hover: hover) and (pointer: fine) {
  .clickable-icon:hover {
    color: var(--disabled-text-color);
  }
}

.scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/****************** End ******************/

/********************************************************/
/********************* Scrollbar ************************/
/********************************************************/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar:hover {
  background-color: var(--scroll-background-color);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: var(--scroll-corner-track-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  min-width: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-thumb-active-color);
}

::-webkit-scrollbar-button:single-button {
  background-color: var(--scroll-button);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 6px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 12px;
  background-position: 1px 1px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 12px;
  background-position: 4px 1px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
/****************** End ******************/
