/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hover-selected-color: rgb(59 130 246);
  --disabled-bg: rgb(168, 168, 168);
  --disabled-text-color: rgb(114, 114, 114);
}
/* variables */
body.light-theme {
  --bkg-color: rgb(255, 255, 255);
  --text-color: rgb(32, 33, 34);
  --text-color-inverted: rgb(234, 236, 240);
  --sub-text-color: rgb(87, 87, 87);
  --lifecycle-info-bkg-color: #252222;
  --mat-card-border-color: #d7d7d7;
  --tag-border-color: #a5a5a5;
  --icon-color: rgb(32, 33, 34);
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
  --bkg-color-nav-sub-menu: rgb(243 244 246);
  --bkg-color-nav-sub-menu-hover: rgb(185, 185, 185);
}
body.dark-theme {
  --bkg-color: #252222;
  --text-color: rgb(234, 236, 240);
  --text-color-inverted: rgb(32, 33, 34);
  --sub-text-color: rgb(190, 190, 190);
  --mat-card-border-color: #6f6f6f;
  --tag-border-color: #a5a5a5;
  --icon-color: rgb(234, 236, 240);
  --lifecycle-info-bkg-color: rgb(255, 255, 255);
  --box-shadow: 0 1px 3px 0 rgb(255, 255, 255, 0.401),
    0 1px 2px -1px rgb(255, 255, 255, 0.401) !important;
  --bkg-color-nav-sub-menu: #444444;
  --bkg-color-nav-sub-menu-hover: #353535fd;
}

html,
body {
  height: auto;
  margin: 0px;
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--bkg-color);
  color: var(--text-color);
  transition: all 0.2s;
}

input {
  background-color: var(--bkg-color);
  color: var(--text-color);
  transition: all 0.2s;
}

input::placeholder {
  color: rgb(156 163 175);
}

select {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: rgb(1, 180, 228);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

img {
  cursor: pointer;
}

mat-card {
  background-color: var(--bkg-color) !important;
}

mat-icon {
  transition: all 0.2s;
}

mat-icon:hover {
  cursor: pointer;
}

.border-container {
  border-color: var(--mat-card-border-color) !important;
  box-shadow: var(--box-shadow);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.45rem !important;
}

.border-separator {
  border-color: var(--mat-card-border-color) !important;
  border-bottom-style: solid;
  @apply border-b;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

#sub-text {
  font-size: 0.85rem;
  color: var(--sub-text-color);
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.95rem;
}

select {
  width: 100%;
}

.hidden-container {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.submit {
  background-color: var(--hover-selected-color);
  border-color: var(--tag-border-color);
  box-shadow: var(--box-shadow);
  border-style: solid;
  border-width: 1px;
}

.submit:hover {
  background-color: rgb(30 64 175);
}

.submit:disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text-color);
  cursor: auto;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}
