/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: auto;
  margin: 0px;
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

header {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

header a {
  color: var(--text-color);
}

header .sub-menu {
  background-color: rgb(243 244 246);
}

header .sub-menu li:hover {
  /* background-color: rgb(229 231 235); */
  background-color: rgb(62, 92, 153);
}

mat-card {
  background-color: var(--bkg-color) !important;
  border-color: var(--mat-card-border-color) !important;
  /* border-width: 2px !important; */
  box-shadow: var(--box-shadow) !important;
}

mat-card .lifecycle-info {
  background-color: var(--lifecycle-info-bkg-color);
}

mat-card a {
  color: var(--text-color);
}

input:focus + div #search-icon {
  color: var(--icon-color);
}

input {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

input::placeholder {
  color: rgb(156 163 175);
}

select {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

#icon-bg {
  background-color: var(--bkg-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(1, 180, 228);
}

img {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  --text-color: rgb(32, 33, 34);
  --text-color-inv: rgb(234, 236, 240);
  --bkg-color: rgb(255, 255, 255);
  --lifecycle-info-bkg-color: #252222;
  --mat-card-border-color: #eee;
  --icon-color: rgb(32, 33, 34);
  /* --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

body.dark-theme {
  --text-color: rgb(234, 236, 240);
  --text-color-inv: rgb(32, 33, 34);
  --bkg-color: #252222;
  --mat-card-border-color: #a8a8a8;
  --icon-color: rgb(234, 236, 240);
  --lifecycle-info-bkg-color: rgb(255, 255, 255);
  /* --box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.401),
    0 2px 4px -2px rgb(0 0 0 / 0.1); */
  --box-shadow: 0 1px 3px 0 rgb(255, 255, 255, 0.401),
    0 1px 2px -1px rgb(255, 255, 255, 0.401) !important;
}
