<section class="w-full sm:w-[70%] mx-auto max-w-[1536px] pt-[60px]">
  @if(error$ | async; as error){
  <div class="w-full py-8 flex justify-center">
    <app-error-message-template
      [title]="errorTitle"
      [message]="errorMessage"
    ></app-error-message-template>
  </div>
  } @else {
  <!--  -->

  @if((banner$|async); as banner ){
  <div class="w-full bg-[var(--bg-page-section)] sm:bg-transparent py-6">
    <div class="space-y-6">
      <div class="text-center">
        <a [routerLink]="buildDetailPath(banner.id)" [title]="banner.title">
          <h1>
            {{ banner.title }}
            @if(year$| async; as year){
            <span class="text-zinc-500">({{ year | date : "yyyy" }})</span>
            }
          </h1></a
        >
      </div>
      @if(banner.backdrop_path){
      <div>
        <a
          class="justify-center flex"
          [routerLink]="buildDetailPath(banner.id)"
          [title]="banner.title"
        >
          <div
            class="bg-cover bg-no-repeat bg-center overflow-hidden aspect-[50/22] w-full sm:w-[700px] sm:rounded-md"
            [ngStyle]="{
              'background-image': banner.backdrop_path
                ? 'url(' +
                  TMDB_PROFILE_1000W_450H_IMG_URL +
                  banner.backdrop_path +
                  ')'
                : ''
            }"
          ></div>
        </a>
      </div>
      }
    </div>
  </div>

  }

  <div class="w-full sm:flex sm:flex-row sm:space-y-0 space-y-4 py-4">
    @if((castList$|async); as castList ){
    <div
      class="w-full sm:w-[50%] bg-[var(--bg-page-section)] sm:bg-transparent pb-6"
    >
      <div>
        <div class="px-4 py-6">
          <div
            class="flex justify-between hover:cursor-pointer sm:hover:cursor-default"
            (keyup)="toggleCast()"
            (click)="toggleCast()"
          >
            <div
              class="flex hover:cursor-pointer sm:hover:cursor-default space-x-4"
            >
              <h2>Movie Cast</h2>
              <h5 class="content-center">{{ castList.length }}</h5>
            </div>
            <div class="sm:hidden">
              <mat-icon
                aria-hidden="false"
                [fontIcon]="
                  isHideCastContainer ? 'expand_more' : 'chevron_right'
                "
              ></mat-icon>
            </div>
          </div>
        </div>

        <div
          class="px-4"
          [ngClass]="{
            'hidden-container': isHideCastContainer
          }"
        >
          <ul class="p-0 m-0 space-y-4">
            @for(cast of castList; track cast){ @defer(on viewport){
            <li class="list-none w-full">
              <app-cast-crew-credit-card
                [id]="cast.id"
                [name]="cast.name"
                [role]="cast.character"
                [profile_path]="cast.profile_path"
                [direction]="'vertical'"
              ></app-cast-crew-credit-card>
            </li>
            } @placeholder {
            <div></div>
            } }
          </ul>
        </div>
      </div>
    </div>
    } @if((departments$ | async); as departments){
    <div
      class="w-full sm:w-[50%] bg-[var(--bg-page-section)] sm:bg-transparent pb-6"
    >
      <div class="px-4 py-6">
        <div
          class="flex justify-between hover:cursor-pointer sm:hover:cursor-default"
          (keyup)="toggleCrew()"
          (click)="toggleCrew()"
        >
          <div
            class="flex hover:cursor-pointer sm:hover:cursor-default space-x-4"
          >
            <h2>Movie Crew</h2>
            <h5 class="content-center">{{ crewLength }}</h5>
          </div>
          <div class="sm:hidden">
            <mat-icon
              aria-hidden="false"
              [fontIcon]="isHideCastContainer ? 'expand_more' : 'chevron_right'"
            ></mat-icon>
          </div>
        </div>
      </div>

      <div
        class="px-4 space-y-8"
        [ngClass]="{
          'hidden-container': isHideCrewContainer
        }"
      >
        @for(department of departments; track department){
        @if(department.value.length >0){
        <div class="space-y-4">
          <h3>{{ department.key }}</h3>
          <ul class="p-0 m-0 space-y-4">
            @for(crew of department.value; track crew){ @defer(on viewport){
            <li class="list-none w-full">
              <app-cast-crew-credit-card
                [id]="crew.id"
                [name]="crew.name"
                [role]="crew.job"
                [profile_path]="crew.profile_path"
                [direction]="'vertical'"
              ></app-cast-crew-credit-card>
            </li>
            } @placeholder {
            <div></div>
            } }
          </ul>
        </div>
        } }
      </div>
    </div>
    }
  </div>

  }
</section>
