.sub-menu {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
  background-color: var(--theme-color-3);
}

.show-sub-menu:hover ul {
  max-height: 200px;
}

li .sub-el:hover {
  background-color: var(--bg-li-hover);
}

.main-li-desktop {
  color: var(--header-li-color);
}
