<div class="w-[90%] md:w-[95%] max-w-sm m-auto pt-[70px]">
  @if(selectIsResetPasswordSuccess$ | async; as selectIsResetPasswordSuccess){
  <div class="mt-4 space-y-6">
    <div class="bg-[var(--bg-success-container)] text-sm p-3 rounded-md">
      <div class="flex space-x-2">
        <div>
          <mat-icon
            class="text-[var(--success-icon-color)]"
            aria-hidden="false"
            aria-label=""
            fontIcon="check_circle"
          ></mat-icon>
        </div>
        <ul class="list-none p-0 m-0 text-[var(--text-color-dark)]">
          <li>Your password has been changed successfully</li>
        </ul>
      </div>
    </div>
    <!--       -->
    <div class="flex space-x-4 px-10">
      <button type="button" (click)="redirectTo('/home')">Back to Home</button>
    </div>
  </div>
  }@else { }
  <div class="flex-none pt-8">
    <div class="bg-[var(--theme-color-3)] p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-semibold text-center mb-6">
        Reset your password
      </h2>
      <div
        class="flex-1 mb-4 transition-all duration-250 transform"
        #errorContainer
      >
        @if(submitted && !isFormValid){
        <div class="bg-[rgb(253,168,168)] text-sm p-3 rounded-md">
          <div class="flex space-x-2">
            <div>
              <mat-icon
                class="text-[rgb(186,70,57)]"
                aria-hidden="false"
                aria-label=""
                fontIcon="error"
              ></mat-icon>
            </div>
            <ul class="list-none p-0 m-0 text-[var(--text-color-dark)]">
              @if(passwordGroup.controls.password.errors ){
              <!--  -->

              @if(passwordGroup.controls.password.hasError('required')){
              <li><mat-error>Please create a password</mat-error></li>
              }
              <!--  -->
              @if(passwordGroup.controls.password.hasError('pattern') ||
              passwordGroup.controls.password.hasError('pswLength')){
              <li>
                <mat-error>
                  Password must contains no spaces, at least one letter and one
                  number, between 6 and 24 characters</mat-error
                >
              </li>
              } } @if(passwordGroup.controls.password.hasError('required')){

              <li>
                <mat-error>Password confirmation is required</mat-error>
              </li>
              } @if (passwordGroup.hasError('diffPsw') ) {
              <li><mat-error>Passwords do not match</mat-error></li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="passwordResetForm"
        class="space-y-4"
      >
        <div class="space-y-4" [formGroup]="passwordGroup">
          <div>
            <label class="block text-sm font-medium" for="password"
              >Password</label
            >
            <div class="relative">
              <input
                [ngClass]="{
                  'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                    !isPasswordError,
                  'border-1 border-red-600 focus:outline-0 ': isPasswordError
                }"
                autocomplete="new-password"
                type="password"
                id="password"
                formControlName="password"
                class="pl-12 mt-1 block w-full box-border px-3 py-2 rounded-md placeholder-gray-400 sm:text-sm"
              />
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <mat-icon
                  class="text-[var(--icon-color)]"
                  aria-hidden="false"
                  aria-label=""
                  fontIcon="lock"
                ></mat-icon>
              </div>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium" for="confirmPassword"
              >Confirm your password</label
            >
            <div class="relative">
              <input
                [ngClass]="{
                  'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                    !isConfirmPasswordError,
                  'border-1 border-red-600 focus:outline-0 ':
                    isConfirmPasswordError
                }"
                autocomplete="new-password"
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                class="pl-12 mt-1 block w-full box-border px-3 py-2 rounded-md placeholder-gray-400 sm:text-sm"
              />
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <mat-icon
                  class="text-[var(--icon-color)]"
                  aria-hidden="false"
                  aria-label=""
                  fontIcon="lock"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="flex space-x-4">
          <button
            type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 hover:cursor-pointer focus:ring-offset-2 focus:ring-indigo-500"
          >
            Continue
          </button>
          <button
            type="button"
            (click)="redirectTo('/home')"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 hover:cursor-pointer focus:ring-offset-2 focus:ring-indigo-500"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
