<form
  nz-form
  [formGroup]="loginForm"
  class="login-form"
  (ngSubmit)="onSubmit()"
>
  <fieldset [disabled]="selectIsLoading$ | async">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
          <ng-template #emailErrorTpl let-control>
            @if (control.errors?.['email']) { The input is not valid E-mail! }
            @if (control.errors?.['required']) { Please input your E-mail! }
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <!-- <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="stayConnected">
          <span>Stay Connected</span>
        </label>
      </div> -->
      <div nz-col [nzSpan]="24">
        <a [routerLink]="'/reset-password'">Forgot password</a>
      </div>
    </div>
    <button
      [disabled]="!loginForm.valid"
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      [nzLoading]="selectIsLoading$ | async "
    >
      Log in
    </button>
    Or
    <a [routerLink]="'/register'"> register now!</a>
  </fieldset>
</form>
