<nav>
  <div class="container my-3">
    @if(isUserAuthenticated$ | async ){
    <ul class="flex">
      <li
        class="flex-1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/home">Home</a>
      </li>
      <li class="flex-1" routerLinkActive="active">
        <a routerLink="user-profile">User Profile</a>
      </li>
      <li class="flex-1" routerLinkActive="active">
        <a routerLink="search-multi">Search Movie and TV Show</a>
      </li>
      <li class="flex-1" routerLinkActive="active">
        <button (click)="logout()">Log out</button>
      </li>
    </ul>

    }
  </div>
</nav>
