<header class="fixed w-full shadow-lg top-0 z-30 max-h-[60px]">
  <div
    class="mx-auto mx-12 py-2 xxsm:flex xxsm:justify-between items-center space-x-1 ml-8 mr-8"
  >
    <span class="hidden xxsm:block">
      <ul class="list-none p-0 m-0">
        <li>
          <a
            (click)="closeNavMenuMobile()"
            class="font-bold xxsm:text-sm xsm:text-lg md:text-xl"
            href="#"
            [routerLink]="'/home'"
            ><span class="text-home">Movie & TV Bookmark</span></a
          >
        </li>
      </ul>
    </span>

    <div class="mx-auto xxsm:flex xxsm:justify-between items-center space-x-6">
      @if(((pageEventService.windowInnerWidth$ | async) ?? 0) >= 640) {
      <app-navigator-desktop
        [isUserAuthenticated]="isUserAuthenticated"
        [navElements]="navElements"
      ></app-navigator-desktop>
      }

      <div class="flex items-center justify-between space-x-6 mt-2 mb-2">
        <!-- button for menu mobile -->
        @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 640) {
        <span class="sm:hidden">
          <mat-icon
            id="mobile-menu-btn"
            aria-hidden="false"
            [fontIcon]="'menu'"
            (click)="toggleNavMenuMobile()"
            class="focus:outline-none hover:cursor-pointer"
          ></mat-icon> </span
        >}

        <span>
          <mat-icon
            (click)="toggleTheme()"
            aria-hidden="false"
            class="hover:cursor-pointer"
            [ngClass]="{
              'text-yellow-400': (isDarkTheme$ | async) ? true : false
            }"
            [fontIcon]="(icon$ | async) ?? 'light_mode'"
          ></mat-icon>
        </span>
      </div>
    </div>
  </div>
  @if(((pageEventService.windowInnerWidth$ | async) ?? 0) < 640) {
  <!-- menu mobile -->
  <app-navigator-mobile
    [isUserAuthenticated]="isUserAuthenticated"
    [navElements]="navElements"
    [hiddenNavMenu]="hiddenNavMenu"
    (toggleNavMenuMobile)="toggleNavMenuMobile()"
  ></app-navigator-mobile>
  }
</header>
