<div class="h-full border-container flex box-border flex-col relative">
  <div
    class="w-full h-auto aspect-[2/3] hover:opacity-80 transition-opacity ease-in-out delay-50"
  >
    <app-img
      [alt]="title"
      [title]="title"
      [imgSrc]="media.poster_path"
      [baseUrlLg]="TMDB_PROFILE_440W_660H_IMG_URL"
      [baseUrlSm]="TMDB_PROFILE_260W_390H_IMG_URL"
      [link]="detailMediaPath"
      [customClasses]="'border-img-card'"
    ></app-img>
  </div>

  @if(isUserAuthenticated$ | async; as isUserAuthenticated){
  <app-bookmark-selector
    (bookmarkStatusElementEmitter)="setBookmarkStatusElement($event)"
    [mediaData]="media"
    [index]="index"
    [mediaType]="mediaType"
    [personIdentifier]="personIdentifier"
  ></app-bookmark-selector>

  <app-bookmark-status-label
    [bookmarkEnumSelected]="bookmarkEnumSelected"
  ></app-bookmark-status-label>
  } @else {

  <app-bookmark-disabled-dialog></app-bookmark-disabled-dialog>

  }

  <div class="card-content">
    <h4>
      <a [routerLink]="[detailMediaPath]" [title]="title">{{ title }}</a>
    </h4>
    <div class="mt-1">
      <p>
        {{ releaseDate | date : "longDate" }}
      </p>
      @if(voteAverage){
      <app-rating [voteAverage]="voteAverage"></app-rating>
      }
    </div>
  </div>
</div>
