<div
  class="h-full border-container box-border shadow-md 620:relative"
  [ngClass]="{
  'relative': direction === 'vertical',
}"
>
  <div
    class="flex"
    [ngClass]="{
      '620:relative flex-row 620:flex-col': direction === 'vertical',
      'relative flex-col': direction === 'horizontal'
    }"
  >
    <div class="flex">
      <div
        class="min-h-[158px] aspect-[2/3] hover:opacity-80 transition-opacity ease-in-out delay-50"
        [ngClass]="{
          'w-[105px] 620:w-full': direction === 'vertical',
          'w-full': direction === 'horizontal'
        }"
      >
        <app-img
          [alt]="title"
          [title]="title"
          [imgSrc]="media.poster_path"
          [baseUrlLg]="TMDB_PROFILE_440W_660H_IMG_URL"
          [baseUrlSm]="TMDB_PROFILE_260W_390H_IMG_URL"
          [link]="detailMediaPath"
          [customClasses]="borderImgClass"
          [breakpointSm]="620"
        ></app-img>
      </div>
    </div>
    <div class="w-full">
      @if(isUserAuthenticated$ | async; as isUserAuthenticated){
      <div class="w-full">
        <app-bookmark-status-label
          [bookmarkEnumSelected]="bookmarkEnumSelected"
          [customClass]="borderBookmarkLabelClass"
          [direction]="direction"
        ></app-bookmark-status-label>
      </div>
      }

      <div class="card-content space-y-1">
        <div>
          <h4>
            <a [routerLink]="[detailMediaPath]" [title]="title">{{ title }}</a>
          </h4>

          <h5>
            {{ releaseDate | date : "longDate" }}
          </h5>
        </div>
        @if(voteAverage){
        <div>
          <app-rating [voteAverage]="voteAverage"></app-rating>
        </div>
        }
      </div>
    </div>
    <div
      class="w-full bookmark-selector-wrapper"
      [ngClass]="{
      'bookmark-selector-wrapper-vertical':
        direction === 'vertical' ,
      'bookmark-selector-wrapper-horizontal': direction === 'horizontal' ,
    }"
    >
      @if(isUserAuthenticated$ | async; as isUserAuthenticated){
      <app-bookmark-selector
        (bookmarkStatusElementEmitter)="setBookmarkStatusElement($event)"
        [mediaData]="media"
        [index]="index"
        [mediaType]="mediaType"
        [personIdentifier]="personIdentifier"
        [direction]="direction"
        [isDetail]="false"
      ></app-bookmark-selector>
      } @else {
      <app-bookmark-disabled-dialog
        [direction]="direction"
        [isDetail]="false"
      ></app-bookmark-disabled-dialog>
      }
    </div>
  </div>
</div>
