@media (min-width: 620px) {
  .bookmark-selector-wrapper-vertical {
    position: absolute;
  }

  .bookmark-label-wrapper-vertical {
    bottom: 0;
  }
}

@media (max-width: 619.99px) {
  .bookmark-selector-wrapper-vertical {
    position: relative;
    max-width: 40px;
  }
  .bookmark-label-wrapper-vertical {
    top: 0;
  }
}

.bookmark-selector-wrapper-horizontal {
  position: absolute;
}
.bookmark-label-wrapper-horizontal {
  bottom: 0;
}
