<section class="flex flex-col items-center pt-[60px]">
  <div class="w-full sm:w-[95%] max-w-md pt-8">
    <div class="bg-[var(--theme-color-3)] p-8 sm:rounded-lg shadow-lg">
      <h2 class="text-center text-3xl font-extrabold">Create a new account</h2>
      <div class="my-4 transition-all duration-250 transform" #errorContainer>
        @if(submitted && !isFormValid){
        <div class="bg-[rgb(253,168,168)] text-sm p-3 rounded-md">
          <div class="flex space-x-2">
            <div>
              <mat-icon
                class="text-[rgb(186,70,57)]"
                aria-hidden="false"
                fontIcon="error"
              ></mat-icon>
            </div>
            <ul class="list-none p-0 m-0 text-[var(--text-color-dark)]">
              <!--  -->
              @if( registerForm.get('email')?.errors ){
              <!--  -->
              @if(registerForm.get('email')?.hasError('required') ){
              <li><mat-error>Please enter your email</mat-error></li>
              }
              <!--  -->
              @if(registerForm.get('email')?.hasError('email')){
              <li><mat-error>Invalid email address</mat-error></li>
              } }
              <!--  -->
              @if(passwordGroup.controls.password.errors ){
              <!--  -->

              @if(passwordGroup.controls.password.hasError('required')){
              <li><mat-error>Please create a password</mat-error></li>
              }
              <!--  -->
              @if(passwordGroup.controls.password.hasError('pattern') ||
              passwordGroup.controls.password.hasError('pswLength')){
              <li>
                <mat-error>
                  Password must contains no spaces, at least one letter and one
                  number, between 6 and 24 characters</mat-error
                >
              </li>
              } }
              <!--  -->
              @if(passwordGroup.controls.password.hasError('required')){

              <li>
                <mat-error>Password confirmation is required</mat-error>
              </li>
              } @if (passwordGroup.hasError('diffPsw') ) {
              <li><mat-error>Passwords do not match</mat-error></li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm"
        class="space-y-4"
      >
        <div>
          <label for="email" class="block text-sm font-medium"
            >Email address</label
          >
          <div class="relative">
            <input
              [ngClass]="{
                'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                  !isEmailError,
                'border-1 border-red-600 focus:outline-0 ': isEmailError
              }"
              autocomplete="username"
              type="email"
              id="email"
              formControlName="email"
              class="pl-12 mt-1 block w-full box-border px-3 border-container py-2 rounded-md placeholder-gray-400 sm:text-sm"
            />
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <mat-icon
                class="text-[var(--icon-color)]"
                aria-hidden="false"
                fontIcon="contact_mail"
              ></mat-icon>
            </div>
          </div>
        </div>
        <div class="space-y-4" [formGroup]="passwordGroup">
          <div>
            <label class="block text-sm font-medium" for="password"
              >Password</label
            >
            <div class="relative">
              <input
                [ngClass]="{
                  'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                    !isEmailError,
                  'border-1 border-red-600 focus:outline-0 ': isEmailError
                }"
                autocomplete="new-password"
                type="password"
                id="password"
                formControlName="password"
                class="pl-12 mt-1 block w-full box-border px-3 border-container py-2 rounded-md placeholder-gray-400 sm:text-sm"
              />
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <mat-icon
                  class="text-[var(--icon-color)]"
                  aria-hidden="false"
                  fontIcon="lock"
                ></mat-icon>
              </div>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium" for="confirmPassword"
              >Confirm your password</label
            >
            <div class="relative">
              <input
                [ngClass]="{
                  'outline-[var(--theme-color-2)] border-0 focus:outline outline-[3px]':
                    !isEmailError,
                  'border-1 border-red-600 focus:outline-0 ': isEmailError
                }"
                autocomplete="new-password"
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                class="pl-12 mt-1 block w-full box-border px-3 py-2 border-container rounded-md placeholder-gray-400 sm:text-sm"
              />
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <mat-icon
                  class="text-[var(--icon-color)]"
                  aria-hidden="false"
                  fontIcon="lock"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="my-6">
            <button class="button-mt button-mt-role-normal" type="submit">
              Sign up
            </button>
          </div>
        </div>
        <div class="pt-2 space-y-4">
          <div class="border-separator"></div>

          <div class="space-y-4">
            <p class="text-center text-sm text-[var(--text-gray)]">
              Already have an account?
              <a
                [routerLink]="'/login'"
                class="font-medium text-indigo-500 hover:text-indigo-400"
                >Sign in</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
